<div [clrLoading]="loading">
  <clr-datagrid>
    <clr-dg-column>คลังสินค้า</clr-dg-column>
    <clr-dg-column>Lot no.</clr-dg-column>
    <clr-dg-column>วันหมดอายุ</clr-dg-column>
    <clr-dg-column>ราคาต่อหน่วย</clr-dg-column>
    <clr-dg-column>คงเหลือ</clr-dg-column>
    <clr-dg-column>คงเหลือ (หักยอดจอง)</clr-dg-column>
    <clr-dg-column>มูลค่า</clr-dg-column>

    <clr-dg-row *clrDgItems="let r of products">
      <clr-dg-action-overflow>
        <!-- <button class="action-item" [routerLink]="['/admin/requisition/confirm-unpaid/']" [queryParams]="{unpaidId: order.requisition_order_unpaid_id, requisitionId: order.requisition_order_id}">บันทึกจ่ายเวชภัณฑ์</button> -->
        <button class="action-item" (click)="rePackage(r)">repackage</button>
        <!-- <button class="action-item" (click)="cancelUnpaid(order)">ยกเลิกค้างจ่าย</button> -->
      </clr-dg-action-overflow>
      
      <clr-dg-cell>{{r.warehouse_name}}</clr-dg-cell>
      <clr-dg-cell>{{r.lot_no}}</clr-dg-cell>
      <clr-dg-cell>{{r.expired_date | expiredDate}}</clr-dg-cell>
      <clr-dg-cell style="text-align: right;">{{r.cost | number: '1.2-2'}} </clr-dg-cell>
      <clr-dg-cell [ngClass]="{'error-message': r.min_qty > r.qty, 'success-message': r.min_qty < r.qty}">{{r.pack_qty
        | number}} {{r.from_unit_name}} ({{r.conversion_qty | number}} {{r.to_unit_name}}) = {{r.qty | number}}
      </clr-dg-cell>

      <clr-dg-cell [ngClass]="{'error-message': r.min_qty > r.qty, 'success-message': r.min_qty < r.qty}">
        {{r.pack_qty - (r.reserve_qty/r.conversion_qty)| number}} {{r.from_unit_name}} ({{r.conversion_qty | number}}
        {{r.to_unit_name}}) = {{r.qty - r.reserve_qty}}</clr-dg-cell>
      <clr-dg-cell style="text-align: right;">{{r.total_cost | number: '1.2-2'}} </clr-dg-cell>
    </clr-dg-row>
    <clr-dg-footer>
      <clr-dg-pagination #pagination [clrDgPageSize]="10">
        {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}} จาก {{pagination.totalItems}} รายการ
      </clr-dg-pagination>
    </clr-dg-footer>
  </clr-datagrid>
</div>

<clr-modal [(clrModalOpen)]="modalRepack" [clrModalSize]="'md'" [clrModalClosable]="false">
    <h3 class="modal-title">เปลี่ยน package</h3>
    
    <div class="modal-body" style="">
      <div class='card'>
        <div class='card-block'>
          <div class='row '>
            <div class='col-md-2'>
                ชื่อสินค้า
            </div>
            <div class='col-md-10'>
                {{tmpProduct.product_name}} 
            </div>
          </div>
          <div class='row '>
              <div class='col-md-2'>
                  Lot No.
              </div>
              <div class='col-md-10'>
                   {{tmpProduct.lot_no}}
              </div>
            </div>
        </div>

        <div class='card-block'>
            <div class='row '>
                <div class='col-md-3'>
                    จำนวนที่เหลือ
                </div>
              <div class='col-md-9'>
                  {{tmpProduct.pack_qty - (tmpProduct.reserve_qty/tmpProduct.conversion_qty)| number}} {{tmpProduct.from_unit_name}} ({{tmpProduct.conversion_qty | number}}{{tmpProduct.to_unit_name}}) = {{tmpProduct.qty - tmpProduct.reserve_qty}} 
              </div>
            </div>
          </div>
          <div class='card-block'>
              <div class='row '>
                  <div class='col-md-3'>
                      เปลี่ยนเป็น
                  </div>
                  <div class='col-md-9'>
                    <div style="display: inline-block;width: 80px;">
                        <input type="text" class="wm-edit-box-number" [(ngModel)]="selectQty" (keyup)="onChangeQty($event)" style="width: 100%; background-color: #FFF9C4" wmNumberOnly />
                        <!-- <p style="display: inline-block;margin-top: 0px;">เลือก package ใหม่</p> -->
                    </div>
                      <div style="display: inline-block; width: 170px;">
                        <wm-select-receive-unit orderBy="DESC" #unitList [showAdd]="false" (onSelect)="editChangeUnit($event)"></wm-select-receive-unit> 
                    </div> 
                    <div style="display: inline-block;"> = {{selectQty * selectUnit.qty}}</div>
                  </div>    
            </div>
          </div>
          </div>
      </div>
    
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-primary btn-sm" [disabled]="selectQty < 1 || selectUnit.unit_generic_id == tmpProduct.unit_generic_id" (click)="saveRepack()">ยืนยัน</button>
      <button type="button" class="btn btn-danger btn-sm" (click)="closeRepack()">ปิดหน้าต่าง</button>
    </div>
  </clr-modal>