<nav class="breadcrumb">
  <a class="breadcrumb-item" href="javascript://" routerLink="/admin">หน้าหลัก</a>
  <span class="breadcrumb-item active">โอนเวชภัณฑ์ระหว่างคลัง</span>
</nav>

<clr-tabs>
  <clr-tab>
    <button clrTabLink clrTabLinkId="link1" (click)="getTransferList()">รายการโอน
    </button>
    <clr-tab-content clrContentId="content1" *clrIfActive>
      <div class="row wid99">
        <div class="col-md-8">
          <button class="btn btn-sm btn-success" [routerLink]="['/admin/transfer/new']">
            + สร้างใบโอนสินค้า
          </button>
        </div>
        <div class="col-md-2" style="padding-top: 5px;">
          <div class="btn-group" style="float:right;margin: 0px 0px 0px 0px;">
            <button [disabled]="!selectedApprove.length" class="btn btn-sm confirm" (click)="doConfirm()">
              <clr-icon shape="note"></clr-icon> ยืนยันใบโอน ({{selectedApprove.length | number}} รายการ)
            </button>
            <button [disabled]="!selectedApprove.length" class="btn btn-sm btn-success" (click)="doApprove()">
              <clr-icon shape="note"></clr-icon> อนุมัติใบโอน ({{selectedApprove.length | number}} รายการ)
            </button>
            <clr-button-group [clrMenuPosition]="'bottom-right'" class="btn btn-sm btn-primary" style="padding:0px">
              <clr-button [disabled]="!selectedApprove.length" [clrInMenu]="true" class="btn btn-sm btn-primary" (click)="printReport()">
                <clr-icon shape="printer"></clr-icon> พิมพ์ใบอนุมัติโอน
              </clr-button>
              <clr-button [disabled]="!selectedApprove.length" [clrInMenu]="true" class="btn btn-sm btn-primary" (click)="printReport2()">
                <clr-icon shape="printer"></clr-icon> พิมพ์ใบจัดเวชภัณฑ์ตามใบโอน
              </clr-button>
            </clr-button-group>
          </div>
        </div>
        <div class="col-md-2" style="padding-top: 5px;">
          <div class="select">
            <select id="selects_3" name="approveStatus" [(ngModel)]="approveStatus" (change)="getTransferList()">
              <option value="1">ทั้งหมด</option>
              <option value="2">อนุมัติแล้ว</option>
              <option value="3">รออนุมัติ</option>
              <option value="4">รอยืนยัน</option>
              <option value="5">ยกเลิก</option>
            </select>
          </div>
        </div>
      </div>

      <clr-datagrid [style.height.%]="80" [(clrDgSelected)]="selectedApprove">
        <clr-dg-column>เลขที่โอน</clr-dg-column>
        <clr-dg-column>วันที่โอน</clr-dg-column>
        <clr-dg-column>ไปยังคลังปลายทาง</clr-dg-column>
        <clr-dg-column>Mark Deleted</clr-dg-column>
        <clr-dg-column></clr-dg-column>
        <clr-dg-placeholder>ไม่พบรายการ</clr-dg-placeholder>
        <clr-dg-row *clrDgItems="let t of transfers" [clrDgItem]="t" [ngClass]="{'approve-status': t.approved === 'Y', 'cancel-status': t.mark_deleted === 'Y', 'confirm-status': t.confirmed === 'Y'}">
          <wm-transfer-detail *clrIfExpanded [transferId]="t.transfer_id" ngProjectAs="clr-dg-row-detail"></wm-transfer-detail>
          <clr-dg-cell>{{t.transfer_code}}</clr-dg-cell>
          <clr-dg-cell>{{t.transfer_date | toThaiDate}}</clr-dg-cell>
          <clr-dg-cell>{{t.dst_warehouse_name}}</clr-dg-cell>
          <clr-dg-cell style="text-align: center;">
            <clr-icon shape="check" class="is-success" *ngIf="t.mark_deleted === 'Y'"></clr-icon>
            <span *ngIf="t.mark_deleted === 'N'">-</span>
          </clr-dg-cell>
          <clr-dg-cell>
            <div class="btn-group btn-sm">
              <button *ngIf="t.mark_deleted === 'N'" class="btn btn-success wm-small-btn" [routerLink]="['/admin/transfer/edit']" [queryParams]="{transferId: t.transfer_id}"
                [disabled]="t.mark_deleted === 'Y' || t.approved === 'Y' || t.confirmed === 'Y'">
                <clr-icon shape="note"></clr-icon>
              </button>
              <button *ngIf="t.mark_deleted === 'Y'" class="btn btn-primary wm-small-btn" (click)="activeTransfer(t)" [disabled]="t.mark_deleted === 'N' || t.approved === 'Y'">
                เปลี่ยน
              </button>
              <button *ngIf="t.mark_deleted === 'N'" class="btn btn-danger wm-small-btn" (click)="removeTransfer(t)" [disabled]="t.mark_deleted === 'Y' || t.confirmed === 'Y' || t.approved === 'Y'">
                <clr-icon shape="trash"></clr-icon>
              </button>
            </div>
          </clr-dg-cell>
        </clr-dg-row>
        <clr-dg-footer>
          {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}} จาก {{pagination.totalItems}} รายการ
          <clr-dg-pagination #pagination [clrDgPageSize]="50"></clr-dg-pagination>
        </clr-dg-footer>
      </clr-datagrid>
    </clr-tab-content>
  </clr-tab>
  <clr-tab>
    <button clrTabLink (click)="getRequestTransfer()">
      รายการรับโอน
      <span class="badge badge-danger" *ngIf="notApproveReceiveItems.length">{{notApproveReceiveItems.length | number}}</span>
    </button>
    <clr-tab-content *clrIfActive>
      <div class="row">
        <div class="col-md-2" style="padding-top: 5px;">
          <button class="btn btn-primary btn-sm" [disabled]="!selectedApprove.length" (click)="doApproveReceive()">
            รับสินค้าเข้าคลัง
          </button>
        </div>
        <!-- <div class="col-md-10">
          <div style="float:right">
            <button class="btn btn-sm btn-primary" [disabled]="!selectedApprove.length" (click)="showReport(t)">
              <clr-icon shape="printer"></clr-icon>
              พิมพ์ใบโอน
            </button>
          </div>
        </div> -->
      </div>
      <clr-datagrid [style.height.%]="85" [(clrDgSelected)]="selectedApprove">
        <clr-dg-column>เลขที่โอน</clr-dg-column>
        <clr-dg-column>วันที่โอน</clr-dg-column>
        <clr-dg-column [clrDgField]="'src_warehouse_name'">โอนมาจากคลัง</clr-dg-column>
        <clr-dg-column>รับเข้าคลัง</clr-dg-column>
        <clr-dg-placeholder>ไม่พบรายการ</clr-dg-placeholder>
        <clr-dg-row *clrDgItems="let t of transfersRequest" [clrDgItem]="t" [ngClass]="{'approve-status': t.approved === 'Y', 'cancel-status': t.mark_deleted === 'Y'}">
          <wm-transfer-detail *clrIfExpanded [transferId]="t.transfer_id" ngProjectAs="clr-dg-row-detail"></wm-transfer-detail>
          <clr-dg-cell>{{t.transfer_code}}</clr-dg-cell>
          <clr-dg-cell>{{t.transfer_date | toThaiDate}}</clr-dg-cell>
          <clr-dg-cell>{{t.src_warehouse_name}}</clr-dg-cell>
          <clr-dg-cell style="text-align: center">
            <div class="btn-group btn-sm" *ngIf="t.approved === 'N' || !t.approved">
              <button class="btn btn-danger wm-small-btn" (click)="removeTransfer(t)" [disabled]="t.mark_deleted === 'Y'">
                ยกเลิก
              </button>
            </div>
            <button class="btn btn-success btn-sm wm-small-btn" disabled *ngIf="t.approved === 'Y'">
              รับเข้าคลังแล้ว
            </button>
          </clr-dg-cell>
        </clr-dg-row>
        <clr-dg-footer>
          {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}} จาก {{pagination.totalItems}} รายการ
          <clr-dg-pagination #pagination [clrDgPageSize]="50"></clr-dg-pagination>
        </clr-dg-footer>
      </clr-datagrid>
    </clr-tab-content>
  </clr-tab>
</clr-tabs>
<wm-html-preview #htmlPreview></wm-html-preview>
<wm-loading-modal #modalLoading></wm-loading-modal>