<div [clrLoading]="loading">
  <clr-datagrid>
    <clr-dg-column>ชื่อ Generic</clr-dg-column>
    <clr-dg-column>จำนวน</clr-dg-column>
    <clr-dg-column>รวม (Base)</clr-dg-column>
    <clr-dg-column>จ่ายแล้ว</clr-dg-column>
    <clr-dg-row *ngFor="let g of generics">
      <clr-dg-cell> {{g.generic_name}} </clr-dg-cell>
      <clr-dg-cell style="text-align: right;">{{g.qty | number}} {{g.from_unit_name}}  ({{g.conversion_qty | number}} {{g.to_unit_name}})</clr-dg-cell>
      <clr-dg-cell style="text-align: right;">{{g.qty * g.conversion_qty | number}} {{ g.to_unit_name }}</clr-dg-cell>
      <clr-dg-cell style="text-align: center;">
        <clr-icon shape="check" class="is-success" *ngIf="g.requisition_order_id"></clr-icon>
        <clr-icon shape="check" class="is-success" *ngIf="g.borrow_id"></clr-icon>
      </clr-dg-cell>
    </clr-dg-row>
    <clr-dg-footer>{{generics.length}} รายการ</clr-dg-footer>
  </clr-datagrid>
</div>