<nav class="breadcrumb">
  <a class="breadcrumb-item" href="javascript://" routerLink="/admin">หน้าหลัก</a>
  <span class="breadcrumb-item active">เวชภัณฑ์ถึงจุดเบิก</span>
</nav>

<clr-tabs>
  <clr-tab>
    <button clrTabLink (click)="getWarehouse()">รายการเวชภัณฑ์ถึงจุดเบิก</button>
    <clr-tab-content *clrIfActive>
      <clr-datagrid [style.height.%]="85">
        <clr-dg-column [clrDgField]="'dst_warehouse_name'">คลัง/หน่วยเบิก</clr-dg-column>
        <clr-dg-column [style.width.px]="100">#</clr-dg-column>
        <clr-dg-placeholder>ไม่พบรายการ</clr-dg-placeholder>
        <clr-dg-row *clrDgItems="let w of warehouses; let idx = index">
          <!-- <wm-transfer-warehouse-new [dstWarehouseId]="w.dst_warehouse_id" (refresh)="getWarehouse()" *clrIfExpanded ngProjectAs="clr-dg-row-detail"></wm-transfer-warehouse-new> -->
          <!-- <wm-addition-warehouse-view [dstWarehouseId]="w.dst_warehouse_id" *clrIfExpanded ngProjectAs="clr-dg-row-detail"></wm-addition-warehouse-view> -->
          <clr-dg-cell>{{w.dst_warehouse_name}}</clr-dg-cell>
          <clr-dg-cell style="text-align: center;">
            <button title="เติมเวชภัณฑ์" class="btn btn-success btn-icon btn-sm wm-small-btn" [routerLink]="['/admin/transfer-dashboard/warehouse']"
              [queryParams]="{warehouseId: w.dst_warehouse_id}">
              <clr-icon shape="note"></clr-icon>
            </button>
          </clr-dg-cell>
        </clr-dg-row>
        <clr-dg-footer>
          {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}} จาก {{pagination.totalItems}} รายการ
          <clr-dg-pagination #pagination [clrDgPageSize]="perPage" [clrDgTotalItems]="warehouses.length"></clr-dg-pagination>
        </clr-dg-footer>
      </clr-datagrid>
    </clr-tab-content>
  </clr-tab>

  <clr-tab>
    <button clrTabLink (click)="getTransaction()">รายการเวชภัณฑ์รออนุมัติ</button>
    <clr-tab-content *clrIfActive>
      <div class="row">
        <div class="col-md-12" style="text-align: right;">
          <button class="btn btn-primary btn-sm btn-icon" style="margin-top: 10px;" [disabled]="!selectedApprove.length" (click)="approve()">
            อนุมัติการเติม
          </button>
        </div>
      </div>
      <clr-datagrid style="padding-top: 5px;" [(clrDgSelected)]="selectedApprove" [style.height.%]="80">
        <clr-dg-column [style.width.px]="100" [clrDgField]="'transaction_date'">วันที่สร้าง</clr-dg-column>
        <clr-dg-column [style.width.px]="150" [clrDgField]="'transaction_code'">เลขที่ใบเติม</clr-dg-column>
        <clr-dg-column [clrDgField]="'dst_warehouse_name'">คลัง/หน่วยเบิก</clr-dg-column>
        <clr-dg-column [style.width.px]="100">#</clr-dg-column>
        <clr-dg-placeholder>ไม่พบรายการ!</clr-dg-placeholder>
        <clr-dg-row *clrDgItems="let t of transactions" [clrDgItem]="t">
          <!-- <wm-transfer-warehouse-edit [transactionId]="t.transaction_id" (refresh)="getTransaction()" *clrIfExpanded ngProjectAs="clr-dg-row-detail"></wm-transfer-warehouse-edit> -->
          <wm-transfer-warehouse-view [transactionId]="t.transaction_id" *clrIfExpanded ngProjectAs="clr-dg-row-detail"></wm-transfer-warehouse-view>
          <clr-dg-cell style="text-align: center;">{{t.transaction_date | toThaiDate}}</clr-dg-cell>
          <clr-dg-cell style="text-align: center;">{{t.transaction_code}}</clr-dg-cell>
          <clr-dg-cell>{{t.dst_warehouse_name}}</clr-dg-cell>
          <clr-dg-cell style="text-align: center;">
            <div class="btn-group">
              <button title="ดูข้อมูล/อนุมัติ" class="btn btn-outline btn-icon btn-sm wm-small-btn" [routerLink]="['/admin/transfer-dashboard/edit', t.transaction_id]">
                <clr-icon shape="view-list"></clr-icon>
              </button>
              <button title="ยกเลิก" class="btn btn-danger btn-icon btn-sm wm-small-btn" (click)="cancel(t)" [disabled]="t.status!=='OPEN'">
                <clr-icon shape="trash"></clr-icon>
              </button>
            </div>
          </clr-dg-cell>
        </clr-dg-row>
        <clr-dg-footer>
          {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}} จาก {{pagination.totalItems}} รายการ
          <clr-dg-pagination #pagination [clrDgPageSize]="perPage" [clrDgTotalItems]="transactions.length"></clr-dg-pagination>
        </clr-dg-footer>
      </clr-datagrid>
    </clr-tab-content>
  </clr-tab>

  <clr-tab>
    <button clrTabLink (click)="getTransactionHistory()">ประวัติการเติม</button>
    <clr-tab-content *clrIfActive>
      <clr-datagrid style="padding-top: 5px;" [style.height.%]="85">
        <clr-dg-column [style.width.px]="100" [clrDgField]="'transaction_date'">วันที่สร้าง</clr-dg-column>
        <clr-dg-column [style.width.px]="150" [clrDgField]="'transaction_code'">เลขที่ใบเติม</clr-dg-column>
        <clr-dg-column [clrDgField]="'dst_warehouse_name'">คลัง/หน่วยเบิก</clr-dg-column>
        <clr-dg-column [style.width.px]="100">#</clr-dg-column>
        <clr-dg-placeholder>ไม่พบรายการ!</clr-dg-placeholder>
        <clr-dg-row *clrDgItems="let h of histories" [clrDgItem]="h">
          <!-- <wm-transfer-warehouse-view [transactionId]="h.transaction_id" *clrIfExpanded ngProjectAs="clr-dg-row-detail"></wm-transfer-warehouse-view> -->
          <wm-transfer-warehouse-view [transactionId]="h.transaction_id" *clrIfExpanded ngProjectAs="clr-dg-row-detail"></wm-transfer-warehouse-view>
          <clr-dg-cell style="text-align: center;">{{h.transaction_date | toThaiDate}}</clr-dg-cell>
          <clr-dg-cell style="text-align: center;">{{h.transaction_code}}</clr-dg-cell>
          <clr-dg-cell>{{h.dst_warehouse_name}}</clr-dg-cell>
          <clr-dg-cell style="text-align: center;">
            <button title="พิมพ์รายงานการเติม" style="float: left;" class="btn btn-primary btn-icon btn-sm wm-small-btn" (click)="printRefill(h)">
              <clr-icon shape="printer"></clr-icon>
            </button>
            <button title="ดูข้อมูล" style="float: left;" class="btn btn-outline btn-icon btn-sm wm-small-btn" [routerLink]="['/admin/transfer-dashboard/edit', h.transaction_id]">
              <clr-icon shape="view-list"></clr-icon>
            </button>
          </clr-dg-cell>
        </clr-dg-row>
        <clr-dg-footer>
          {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}} จาก {{pagination.totalItems}} รายการ
          <clr-dg-pagination #pagination [clrDgPageSize]="perPage" [clrDgTotalItems]="histories.length"></clr-dg-pagination>
        </clr-dg-footer>
      </clr-datagrid>
    </clr-tab-content>
  </clr-tab>
</clr-tabs>

<wm-loading-modal #modalLoading></wm-loading-modal>
<wm-html-preview #htmlPreview></wm-html-preview>