<nav class="breadcrumb">
    <a class="breadcrumb-item" href="#/staff" routerLink="/staff">หน้าหลัก</a>
    <a class="breadcrumb-item" href="#/staff/requisition-templates" routerLink="/staff/requisition-templates">ทำ Template ชุดเบิก</a>
    <span class="breadcrumb-item active">จัดทำ Template ชุดเบิก</span>
  </nav>
  
  <div class="card">
    <div class="card-header">
      รายการสินค้าในคลัง สำหรับจัดทำชุดเบิก
    </div>
    <div class="card-block">
      <div class="card-text">
  
        <form>
          <section class="form-block">
            <div class="form-group row wid99">
              <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                <label for="aForm_1" class="required">ชื่อ Template ชุดเบิก</label>
              </div>
              <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                <input type="text" style="text-align: left;" class="col-lg-9 col-md-9" id="templateSubject" name="templateSubject" [(ngModel)]="templateSubject">
              </div>
            </div>
            <!--  -->
            <div class="form-group row wid99">
              <div class="col-md-2">
                <label for="aForm_1">คลัง</label>
              </div>
              <div class="col-md-3">
                <strong>{{dstWarehouseId}} - {{dstWarehouseName}}</strong>
              </div>
              <div class="col-md-1">
                <label for="aForm_1">เบิกคลัง</label>
              </div>
              <div class="col-md-3">
                <strong >{{srcWarehouseId}} - {{srcWarehouseName}}</strong>
              </div>
            </div>
            <div class="form-group row wid99">
              <div class="col-md-2">
              </div>
            </div>
          </section>
        </form>
        <div>
          <p>เลือกสินค้าที่ต้องการเบิก</p>
          <form class="search">
            <wm-search-generic-autocomplete [clearOnSelected]="true" #genericSearch (onSelect)="addProducts($event)"></wm-search-generic-autocomplete>
          </form>
  
  
          <p>รายการเบิก</p>
          <clr-datagrid [style.height.px]="300" style="width:99%">
            <clr-dg-column [style.width.%]="5">#</clr-dg-column>
            <clr-dg-column [style.width.%]="30">ชื่อสินค้า</clr-dg-column>
            <clr-dg-column [style.width.%]="20">หน่วย</clr-dg-column>
            <clr-dg-column [style.width.%]="20"></clr-dg-column>
  
            <clr-dg-row *clrDgItems="let g of products;let idx=index" [clrDgItem]="g">
              <clr-dg-action-overflow>
                <button class="action-item" (click)="removeSelected(g)">
                  <clr-icon shape="trash" class="is-error"></clr-icon>
                  ลบรายการ
                </button>
              </clr-dg-action-overflow>
              <clr-dg-cell>{{(idx+1)}}</clr-dg-cell>
              <clr-dg-cell>{{g.generic_name}}</clr-dg-cell>
              <clr-dg-cell>
                  <wm-select-receive-unit [showAdd]="false" (onSelect)="editChangeUnit(g, $event)" [selectedUnitGenericId]="g.unit_generic_id"
                  [genericId]="g.generic_id"></wm-select-receive-unit>
              </clr-dg-cell>
              <clr-dg-cell style="text-align: center;">
                <button title="เลื่อนขึ้น" class="btn btn-sm btn-icon btn-success wm-small-btn" (click)="productUp(g)">
                  <clr-icon shape="caret up"></clr-icon>
                  <!-- เลื่อนขึ้น -->
                </button>
                <button title="เลื่อนลง" class="btn btn-sm btn-icon btn-success wm-small-btn" (click)="productDown(g)">
                    <clr-icon shape="caret down"></clr-icon>
                    <!-- เลื่อนลง -->
                </button>
                <input type="text" class="form-control" #goto placeholder="ระบุลำดับ เพื่อเลื่อน..">
                <button title="เลื่อนไปที่" class="btn btn-sm btn-icon btn-success wm-small-btn" (click)="productGoTo(g,goto.value)">
                    <clr-icon shape="upload"></clr-icon>
                    <!-- เลื่อนขึ้น -->
                  </button>
                <button title="ลบรายการ" class="btn btn-sm btn-icon btn-danger wm-small-btn" (click)="removeSelected(g)">
                  <clr-icon shape="trash"></clr-icon>
                </button>
              </clr-dg-cell>
            </clr-dg-row>
  
            <clr-dg-footer>
              {{paginationSelected.firstItem + 1}} - {{paginationSelected.lastItem + 1}} จาก {{paginationSelected.totalItems}} รายการ
              <clr-dg-pagination #paginationSelected [clrDgPageSize]="50"></clr-dg-pagination>
            </clr-dg-footer>
  
          </clr-datagrid>
  
        </div>
      </div>
    </div>
    <div class="card-footer">
      <button class="btn btn-sm btn-primary" [disabled]="!products.length || !srcWarehouseId || !dstWarehouseId || !templateSubject" (click)="saveTemplate()">บันทึกสร้างชุดเบิก</button>
      <a href="#/staff/requisition-templates" class="btn btn-sm btn-danger">กลับ</a>
    </div>
  </div>

  <wm-loading-modal #modalLoading></wm-loading-modal>