<nav class="breadcrumb">
  <a class="breadcrumb-item" href="javascript://" routerLink="/admin">หน้าหลัก</a>
  <span class="breadcrumb-item active">ตัดจ่ายจาก HIS</span>
</nav>
<div class="row wid99">
  <div class=" col-md-10">
    <button class="btn btn-sm btn-success" (click)="showUploadModal()">
      <clr-icon shape="upload-cloud"></clr-icon> อัปโหลดไฟล์
    </button>
    <div class="btn-group">
      <button class="btn btn-sm btn-primary" [disabled]="!selected.length" (click)="confirmImport()">
        <clr-icon shape="check-circle"></clr-icon> ยืนยันเฉพาะที่เลือก
      </button>
      <button class="btn btn-sm btn-danger" [disabled]="!selected.length" (click)="confirmImportAll()">
        <clr-icon shape="folder"></clr-icon> ยืนยันทั้งหมด
      </button>
    </div>
    <button class="btn btn-sm btn-danger" (click)="clearTemp()">
      <clr-icon shape="trash"></clr-icon> ยกเลิกทั้งหมด
    </button>
    <button class="btn btn-sm btn-danger-outline" (click)="showNotMappins()">
      <clr-icon shape="share"></clr-icon> รายการที่ยังไม่ได้มีการ Map
    </button>
  </div>
  <div class="col-md-2" style="text-align: right;">
    <div class="select">
      <select class="" [(ngModel)]="genericType" name="genericType" (change)="getTransactionList()">
        <option value="">ทั้งหมด</option>
        <option [value]="t.generic_type_id" *ngFor="let t of genericTypes">{{t.generic_type_name}}</option>
      </select>
    </div>
  </div>
</div>
<clr-datagrid style="height: 85%;" [(clrDgSelected)]="selected">
  <clr-dg-column [clrDgField]="'date_serv'">
    <ng-container *clrDgHideableColumn="{hidden: false}">
      วันที่จ่าย
    </ng-container>
  </clr-dg-column>
  <clr-dg-column [clrDgField]="'hn'">
    <ng-container *clrDgHideableColumn="{hidden: false}">
      HN
    </ng-container>
  </clr-dg-column>
  <clr-dg-column [clrDgField]="'working_code'">
    <ng-container *clrDgHideableColumn="{hidden: false}">
      Working Code
    </ng-container>
  </clr-dg-column>
  <clr-dg-column [clrDgField]="'generic_name'">
    <ng-container *clrDgHideableColumn="{hidden: false}">
      Generic Name
    </ng-container>
  </clr-dg-column>
  <clr-dg-column>
    <ng-container *clrDgHideableColumn="{hidden: false}">
      จำนวน
    </ng-container>
  </clr-dg-column>
  <clr-dg-column>
    <ng-container *clrDgHideableColumn="{hidden: false}">
      หน่วย (Base unit)
    </ng-container>
  </clr-dg-column>
  <clr-dg-column [clrDgField]="'warehouse_name'">
    <ng-container *clrDgHideableColumn="{hidden: false}">
      คลังสินค้า/หน่วยเบิก ที่ถูกตัด Stock
    </ng-container>
  </clr-dg-column>
  <clr-dg-column>
  </clr-dg-column>
  <clr-dg-placeholder>ไม่พบข้อมูล!</clr-dg-placeholder>
  <clr-dg-row *clrDgItems="let p of products" [clrDgItem]="p">
    <clr-dg-cell>{{p.date_serv | toThaiDate}}</clr-dg-cell>
    <clr-dg-cell>{{p.hn}}</clr-dg-cell>
    <clr-dg-cell>{{p.working_code}}</clr-dg-cell>
    <clr-dg-cell>{{p.generic_name}}</clr-dg-cell>
    <clr-dg-cell style="text-align: right;">{{p.qty| number}}</clr-dg-cell>
    <clr-dg-cell>{{p.unit_name}}</clr-dg-cell>
    <clr-dg-cell>{{p.warehouse_name}}</clr-dg-cell>
    <clr-dg-cell>
      <div class="btn-group">
        <button title="ยกเลิกรายการ" class="btn btn-danger btn-icon btn-sm wm-small-btn" (click)="removeSelected(p)">
          <clr-icon shape="trash"></clr-icon>
        </button>
      </div>
    </clr-dg-cell>
  </clr-dg-row>

  <clr-dg-footer>
    <clr-dg-pagination #pagehis [clrDgPageSize]="50" [clrDgTotalItems]="products.length">
      {{pagehis.firstItem + 1}} - {{pagehis.lastItem + 1 | number}} จาก {{pagehis.totalItems | number}} รายการ
    </clr-dg-pagination>
  </clr-dg-footer>
</clr-datagrid>

<clr-modal [(clrModalOpen)]="openUpload" [clrModalClosable]="false">
  <h3 class="modal-title">อัปโหลดไฟล์</h3>
  <div class="modal-body">
    <p>เลือกไฟล์ที่ต้องการอัปโหลดโดยเลือกไฟล์ .xls, xlsx เท่านั้น</p>
    <form>
      <section class="form-block">
        <div class="form-group row">
          <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12">
            <input class="form-control" disabled type="text" id="txtFile" placeholder="..." [value]="fileName">
          </div>
          <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
            <div>
              <label class="btn btn-sm btn-success btn-link wm-small-btn">
                <input type="file" #file accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,application/vnd.ms-excel"
                  style="display: none;" (change)="fileChangeEvent($event)">
                <clr-icon shape="search"></clr-icon>
              </label>
            </div>
          </div>
        </div>
      </section>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-sm btn-primary" [disabled]="!fileName" (click)="doUpload()">
      อัปโหลดไฟล์
    </button>
    <button type="button" class="btn btn-sm btn-danger" (click)="openUpload = false">
      ปิด/ยกเลิก
    </button>
  </div>
</clr-modal>

<clr-modal [(clrModalOpen)]="openNotMappings" [clrModalClosable]="false">
  <h3 class="modal-title">รายการที่ยังไม่ได้มีการ Map</h3>
  <div class="modal-body">
    <clr-datagrid style="height: 85%;">
      <clr-dg-column [clrDgField]="'working_code'">
        <ng-container *clrDgHideableColumn="{hidden: false}">
          รหัสยา HIS
        </ng-container>
      </clr-dg-column>
      <clr-dg-placeholder>ไม่พบข้อมูล!</clr-dg-placeholder>
      <clr-dg-row *clrDgItems="let h of hisNotMappings" [clrDgItem]="h">
        <clr-dg-cell>{{h.drug_code}}</clr-dg-cell>
      </clr-dg-row>
      <clr-dg-footer>
        <clr-dg-pagination #pagination [clrDgPageSize]="20">
          {{pagination.firstItem + 1}} - {{pagination.lastItem + 1 | number}} จาก {{pagination.totalItems | number}}
          รายการ
        </clr-dg-pagination>
      </clr-dg-footer>
    </clr-datagrid>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-sm btn-danger" (click)="openNotMappings = false">
      ปิด
    </button>
  </div>
</clr-modal>

<wm-loading-modal #modalLoading></wm-loading-modal>