<nav class="breadcrumb">
  <a class="breadcrumb-item" href="#/staff" routerLink="/users">หน้าหลัก</a>
  <a class="breadcrumb-item" href="#/staff/templates/main" routerLink="/staff/templates/main">ทำ Templates</a>
  <span class="breadcrumb-item active">จัดทำ Template ชุดตัดจ่าย</span>
</nav>

<div class="card">
  <div class="card-header">
    รายการสินค้าในคลัง สำหรับจัดทำชุดตัดจ่าย
  </div>
  <div class="card-block">
    <div class="card-text">

      <form>
        <section class="form-block">
          <div class="form-group row">
            <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
              <label for="aForm_1" class="required">ชื่อ Template ชุดตัดจ่าย</label>
            </div>
            <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
              <input type="text" style="text-align: left;" class="col-lg-9 col-md-9" id="templateSubject" name="templateSubject" [(ngModel)]="templateSubject">
            </div>
          </div>
          <!--  -->
          <div class="form-group row">
            <div class="col-md-2">
              <label for="aForm_1" class="required">คลัง</label>
            </div>
            <div class="col-md-3">
              <div class="select form-control">
                <select disabled name="warehouseId" id="warehouseId" [(ngModel)]="warehouseId" (change)="onSelectWarehouses()">
                  <option value="">ระบุคลังที่ต้องการตัดจ่าย</option>
                  <option *ngFor="let w of srcWarehouses" [value]="w.warehouse_id">{{ w.short_code }} - {{w.warehouse_name}}</option>
                </select>
              </div>
            </div>
            <!-- <div class="col-md-1">
              <label for="aForm_1" class="required">ตัดจ่ายคลัง</label>
            </div>
            <div class="col-md-3">
              <div class="select form-control">
                <select [disabled]="isRequest" name="dstwarehouseId" id="dstwarehouseId" [(ngModel)]="dstwarehouseId">
                  <option value="">ระบุคลังที่ต้องการจ่าย</option>
                  <option *ngFor="let w of dstWarehouses" [value]="w.warehouse_id">{{ w.short_code }} - {{w.warehouse_name}}</option>
                </select>
              </div>
            </div> -->
          </div>
          <div class="form-group row">
            <div class="col-md-2">
              &nbsp;
            </div>
            <div class="col-md-2">
              <div class="btn-group">
                <button class="btn btn-sm btn-success" [disabled]="isRequest || !warehouseId " (click)="showProducts()">
                  เลือกรายการสินค้า
                </button>
                <button class="btn btn-sm btn-danger" [disabled]="!isRequest || !warehouseId" (click)="changeWarehouse()">
                  เปลี่ยนคลัง
                </button>
              </div>
            </div>
          </div>
        </section>
      </form>
      <div *ngIf="isRequest">
        <p>เลือกสินค้าที่ต้องการตัดจ่าย</p>
        <form class="search">
          <wm-search-generic-autocomplete [clearOnSelected]="true" #genericSearch (onSelect)="setSelectedProduct($event)"></wm-search-generic-autocomplete>
        </form>
        <p>รายการตัดจ่าย</p>
        <clr-datagrid [style.height.px]="300">
          <clr-dg-column [style.width.%]="1">#</clr-dg-column>
          <clr-dg-column [style.width.%]="30">ชื่อสินค้า</clr-dg-column>
          <clr-dg-column [style.width.%]="15">หน่วย</clr-dg-column>
          <clr-dg-column [style.width.%]="20">
            <button (click)="sort()" class="btn btn-sm btn-icon btn-success wm-small-btn">เรียง ก-ฮ A-Z</button>
          </clr-dg-column>

          <clr-dg-row *clrDgItems="let g of products2;let idx=index" [clrDgItem]="g">
            <clr-dg-action-overflow>
              <button class="action-item" (click)="removeSelected(g)">
                <clr-icon shape="trash" class="is-error"></clr-icon>
                ลบรายการ
              </button>
            </clr-dg-action-overflow>
            <clr-dg-cell>{{(idx+1)}}</clr-dg-cell>
            <clr-dg-cell>{{g.generic_name}}</clr-dg-cell>
            <clr-dg-cell>
              <wm-select-receive-unit [showAdd]="false" (onSelect)="editChangeUnit(g, $event)" [genericId]="g.generic_id"></wm-select-receive-unit>
            </clr-dg-cell>
            <clr-dg-cell style="text-align: center;">
              <button title="เลื่อนขึ้น" class="btn btn-sm btn-icon btn-success wm-small-btn" (click)="productUp(g)">
                <clr-icon shape="caret up"></clr-icon>
                <!-- เลื่อนขึ้น -->
              </button>
              <button title="เลื่อนลง" class="btn btn-sm btn-icon btn-success wm-small-btn" (click)="productDown(g)">
                <clr-icon shape="caret down"></clr-icon>
                <!-- เลื่อนลง -->
              </button>
              <input type="text" class="form-control" size="14" #goto placeholder="ระบุลำดับ เพื่อเลื่อน..">
              <button title="เลื่อนไปที่" class="btn btn-sm btn-icon btn-success wm-small-btn" (click)="productGoTo(g,goto.value)">
                <clr-icon shape="upload"></clr-icon>
                <!-- เลื่อนขึ้น -->
              </button>
              <button title="ลบรายการ" class="btn btn-sm btn-icon btn-danger wm-small-btn" (click)="removeSelected(g)">
                <clr-icon shape="trash"></clr-icon>
              </button>
            </clr-dg-cell>
          </clr-dg-row>

          <clr-dg-footer>
            {{paginationSelected.firstItem + 1}} - {{paginationSelected.lastItem + 1}} จาก {{paginationSelected.totalItems}} รายการ
            <clr-dg-pagination #paginationSelected [clrDgPageSize]="50"></clr-dg-pagination>
          </clr-dg-footer>

        </clr-datagrid>

      </div>
    </div>
  </div>
  <div class="card-footer">
    <button *ngIf="!templateId" class="btn btn-sm btn-primary" [disabled]="!products2.length || !warehouseId" (click)="saveTemplate()">บันทึกสร้างชุดตัดจ่าย</button>
    <button *ngIf="templateId" class="btn btn-sm btn-primary" [disabled]="!products2.length || !warehouseId" (click)="updateTemplate()">บันทึกสร้างชุดตัดจ่าย</button>
    <a href="#/staff/templates/main" class="btn btn-sm btn-danger">กลับ</a>
  </div>
</div>
<wm-loading-modal #modalLoading></wm-loading-modal>