<nav class="breadcrumb">
  <a class="breadcrumb-item" href="javascript://" routerLink="/admin">หน้าหลัก</a>
  <span class="breadcrumb-item active">การหยิบ</span>
</nav>

<button class="btn btn-sm btn-success btn-icon" routerLink="/admin/pick/new">
  <clr-icon shape="plus"></clr-icon> บันทึกหยิบ
</button>
<!-- <button style="float: right" [disabled]="!selectedPrint.length" class="btn btn-sm btn-success btn-icon" (click)="printReport()">
  <clr-icon shape="printer"></clr-icon> พิมพ์รายการหยิบ
</button> -->

<div class="card">
  <div class="card-block" style="padding: 5px 0px 5px 10px;">
    <div class="form-group row wid99">
      <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12">
        <label for="query">ค้นหา</label>
        <input type="text" placeholder="ระบุคำค้นหา" id="query" [(ngModel)]="query" style="width: 300px;">
        <button class="btn btn-sm btn-icon btn-primary" (click)="search()" [disabled]="!query">
          <clr-icon shape="search"></clr-icon>
        </button>
      </div>
    </div>
  </div>
</div>

<clr-datagrid (clrDgRefresh)="refresh($event)" [(clrDgSelected)]="selectedPrint" style="padding-top: 5px; height: 70%;">
  <clr-dg-column >เลขที่หยิบ</clr-dg-column>
  <clr-dg-column >วันที่หยิบ</clr-dg-column>
  <clr-dg-column >ผู้ที่หยิบ</clr-dg-column>
  <clr-dg-column>หน่วยหยิบ</clr-dg-column>
  <clr-dg-column >หมายเหตุ</clr-dg-column>
  <!-- <clr-dg-column ></clr-dg-column> -->
  <clr-dg-placeholder>ไม่พบรายการ!</clr-dg-placeholder>
  <clr-dg-row *ngFor="let o of order" [clrDgItem]="o" [ngClass]="{'isSuccess': o.is_approve === 'Y', 'isError': o.is_cancel === 'Y'}">
    <clr-dg-action-overflow>
        <button title="แก้ไข" *ngIf="o.is_approve === 'Y'"  class="action-item" (click)="editAfter(o.pick_id)" >
          แก้ไขหลังการอนุมัติ
        </button>
        <button title="อนุมัติ" [disabled]="o.is_approve === 'Y' || o.is_cancel === 'Y'" class="action-item" (click)="approve(o.pick_id)">
          อนุมัติการหยิบ
        </button>
      <button title="แก้ไข" [disabled]="o.is_approve === 'Y' || o.is_cancel === 'Y'" class="action-item" routerLink="/admin/pick/edit/{{o.pick_id}}">
        แก้ไขการหยิบ
      </button>
      <button title="ลบ" [disabled]="o.is_approve === 'Y' || o.is_cancel === 'Y'" class="action-item" (click)="remove(o.pick_id)">
       ลบการหยิบ
      </button>
      <button title="พิมพ์" [disabled]="o.is_cancel === 'Y'" class="action-item" role="tooltip" aria-haspopup="true" (click)="showReport(o.pick_id)">
        พิมพ์ใบหยิบ
      </button>
    </clr-dg-action-overflow>
    <wm-pick-detail *clrIfExpanded [pickId]="o.pick_id" ngProjectAs="clr-dg-row-detail"></wm-pick-detail>
    <clr-dg-cell>{{o.pick_code}}</clr-dg-cell>
    <clr-dg-cell style="text-align: left;">{{o.pick_date | toThaiDate}}</clr-dg-cell>
    <clr-dg-cell style="text-align: left;">{{o.fullname}}</clr-dg-cell>
    <clr-dg-cell>{{o.warehouse_name}}</clr-dg-cell>
    <clr-dg-cell>{{o.remark}}</clr-dg-cell>
  </clr-dg-row>
  <clr-dg-footer>
      {{pagination.firstItem + 1 | number}} - {{pagination.lastItem + 1 | number}} จาก {{pagination.totalItems | number}} รายการ
      <clr-dg-pagination #pagination   [(clrDgPage)]="currentPage"  [clrDgPageSize]="perPage" [clrDgTotalItems]="total"></clr-dg-pagination>
    </clr-dg-footer>
</clr-datagrid>


<clr-modal [(clrModalOpen)]="modalEdit" [clrModalClosable]="false">
    <h3 class="modal-title">สิทธิ์การแก้ไข</h3>
    <div class="modal-body" style="height:150px">
  
      <form>
        <section class="form-block">
          <div class="form-group">
            <label for="aForm_1" class="required">User Name</label>
            <input autocomplete="nope" type="text" id="username" name="username" [(ngModel)]="username">
          </div>
          <div class="form-group">
            <label for="aForm_1" class="required"> password</label>
            <input autocomplete="new-password" type="password" id="password" name="password" [(ngModel)]="password" (keyup.enter)="checkEdit(username,password)">
          </div>
        </section>
      </form>
    </div>
    <div class="modal-footer" style="padding-top: 0px;">
      <button type="button" class="btn btn-md btn-primary" [disabled]="!username || !password" (click)="checkEdit(username,password)">ยืนยัน</button>
      <button type="button" class="btn btn-md btn-danger-outline" (click)="modalEdit = false">ปิด</button>
    </div>

</clr-modal>
<wm-loading-modal #modalLoading></wm-loading-modal>
<wm-html-preview #htmlPreview></wm-html-preview>
