<div class="main-container">
  <div class="alert alert-app-level alert-danger">
    <div class="alert-items">
      <div class="alert-item static">
        <div class="alert-icon-wrapper">
          <clr-icon class="alert-icon" shape="shield-x"></clr-icon>
        </div>
        <div class="alert-text">
           คุณไม่มีสิทธิ์เข้าใช้งาน Module นี้
        </div>
        <div class="alert-actions">
          <button class="btn alert-action" (click)="logout()">Login</button>
        </div>
      </div>
    </div>
  </div>
  <header class="header-6">
    <div class="branding">
      <a href="javascript://" class="nav-link">
      <clr-icon shape="shield-x" class="is-error"></clr-icon>
            <span class="title">Access denied!</span>
        </a>
    </div>
  </header>

  <div class="content-container">
    <!-- <div class="content-area">
      <div class="row">
        <div class="col-md-12" style="text-align: center;">
          <div class="alert alert-danger">
            <div class="alert-items">
              <div class="alert-item static">
                <div class="alert-icon-wrapper">
                  <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
                </div>
                <span class="alert-text">
                  คุณไม่มีสิทธิ์เข้าใช้งาน Module นี้
                </span>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div> -->
</div>