<nav class="breadcrumb">
  <a class="breadcrumb-item" href="javascript://" routerLink="/admin">หน้าหลัก</a>
  <span class="breadcrumb-item active">เครื่องมือ (Tools)</span>
  <span class="breadcrumb-item active">จัดการ Stock Card</span>
</nav>

<div class="alert alert-danger">
  <div class="alert-items">
    <div class="alert-item static">
      <div class="alert-icon-wrapper">
        <clr-icon (click)="openInput()" class="alert-icon" shape="exclamation-circle"></clr-icon>
      </div>
      <span class="alert-text">
        การแก้ไขรายการ Stock Card จะเป็นการแก้ไข Transaction ของ Stock Card ตัวเวชภัณฑ์นั้นๆ
        รวมเป็นถึงเป็นการแก้ไขรายการในใบที่อนุมัติไปแล้วด้วย
        ควรตรวจสอบข้อมูลให้ถูกต้องก่อนทำการแก้ไขรายการ
      </span>
    </div>
  </div>
</div>

<button class="btn btn-large btn-danger" (click)="showSearchReceive()">
  แก้ไข Stock Card จากการรับ
</button>

<button class="btn btn-large btn-danger" (click)="showSearchRequisition()">
  แก้ไข Stock Card จากการเบิกจ่าย
</button>

<button class="btn btn-large btn-danger" (click)="showSearchTranfer()">
  แก้ไข Stock Card จากการโอน
</button>

<button class="btn btn-large btn-danger" (click)="showSearchIssue()">
  แก้ไข Stock Card จากการตัดจ่าย
</button>

<button class="btn btn-large btn-danger" (click)="showModalCal()" *ngIf="showBtnCal">
  ประมวลผลยอดคงเหลือใหม่
</button>

<!-- <button class="btn btn-large btn-danger" (click)="showSearchPick()">
  แก้ไข Stock Card จากการหยิบ
</button> -->
<input *ngIf="input" type="text" [(ngModel)]="passHis">

<!-- search receive -->
<clr-modal [(clrModalOpen)]="isOpenSearchReceive" [clrModalSize]="'lg'" [clrModalClosable]="false">
  <h3 class="modal-title">ค้นหาใบรับ</h3>
  <div class="modal-body">
    <label for="">เลขที่ใบรับ</label>
    <input type="text" style="width: 300px;" #queryReceive (keyup)="doSearchReceives($event, queryReceive.value)"
      placeholder="พิมพ์เลขที่ใบรับ แล้วกด ENTER">
    <clr-datagrid>
      <clr-dg-column>วันที่รับ</clr-dg-column>
      <clr-dg-column>เลขที่ใบรับ</clr-dg-column>
      <clr-dg-column>เลขที่ใบสั่งซื้อ</clr-dg-column>
      <clr-dg-column style="width: 60px;">#</clr-dg-column>

      <clr-dg-row *ngFor="let r of receives">
        <clr-dg-cell>{{r.receive_date | toThaiDate}}</clr-dg-cell>
        <clr-dg-cell>{{r.receive_code}}</clr-dg-cell>
        <clr-dg-cell>{{r.purchase_order_number}}</clr-dg-cell>
        <clr-dg-cell style="text-align: center;">
          <button class="btn btn-sm btn-success wm-small-btn" (click)="gotoReceive(r.receive_id,r.receive_type)">
            แก้ไข
          </button>
        </clr-dg-cell>
      </clr-dg-row>

      <clr-dg-footer>{{receives.length}} รายการ</clr-dg-footer>
    </clr-datagrid>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-sm btn-danger" (click)="isOpenSearchReceive = false">ยกเลิก</button>
  </div>
</clr-modal>
<!-- /search receive -->

<!-- search requisition -->
<clr-modal [(clrModalOpen)]="isOpenSearchRequisition" [clrModalSize]="'lg'" [clrModalClosable]="false">
  <h3 class="modal-title">ค้นหาใบเบิก</h3>
  <div class="modal-body">
    <label for="">เลขที่ใบเบิก</label>
    <input type="text" style="width: 300px;" #queryRequisition (keyup)="doSearchRequisitions($event, queryRequisition.value)"
      placeholder="พิมพ์เลขที่ใบเบิก แล้วกด ENTER">
    <clr-datagrid>
      <clr-dg-column>วันที่เบิก</clr-dg-column>
      <clr-dg-column>วันที่จ่าย</clr-dg-column>
      <clr-dg-column>เลขที่ใบเบิก</clr-dg-column>
      <clr-dg-column>คลังเบิก</clr-dg-column>
      <clr-dg-column style="width: 60px;">#</clr-dg-column>

      <clr-dg-row *ngFor="let r of requisitions">
        <clr-dg-cell>{{r.requisition_date | toThaiDate}}</clr-dg-cell>
        <clr-dg-cell>{{r.confirm_date | toThaiDate}}</clr-dg-cell>
        <clr-dg-cell>{{r.requisition_code}}</clr-dg-cell>
        <clr-dg-cell>{{r.warehouse_name}}</clr-dg-cell>
        <clr-dg-cell style="text-align: center;">
          <button class="btn btn-sm btn-success wm-small-btn" (click)="gotoRequisition(r.requisition_order_id,r.confirm_id)">
            แก้ไข
          </button>
        </clr-dg-cell>
      </clr-dg-row>

      <clr-dg-footer>{{requisitions.length}} รายการ</clr-dg-footer>
    </clr-datagrid>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-sm btn-danger" (click)="isOpenSearchRequisition = false">ยกเลิก</button>
  </div>
</clr-modal>
<!-- /search requisition -->

<!-- search tranfer -->
<clr-modal [(clrModalOpen)]="isOpenSearchTranfer" [clrModalSize]="'lg'" [clrModalClosable]="false">
  <h3 class="modal-title">ค้นหาใบโอน</h3>
  <div class="modal-body">
    <label for="">เลขที่ใบโอน</label>
    <input type="text" style="width: 300px;" #queryTranfer (keyup)="doSearchTranfers($event, queryTranfer.value)"
      placeholder="พิมพ์เลขที่ใบโอน แล้วกด ENTER">
    <clr-datagrid>
      <clr-dg-column>วันที่โอน</clr-dg-column>
      <clr-dg-column>เลขที่ใบโอน</clr-dg-column>
      <clr-dg-column>คลังต้นทาง</clr-dg-column>
      <clr-dg-column>คลังปลายทาง</clr-dg-column>
      <clr-dg-column style="width: 60px;">#</clr-dg-column>

      <clr-dg-row *ngFor="let r of transfers">
        <clr-dg-cell>{{r.transfer_date | toThaiDate}}</clr-dg-cell>
        <clr-dg-cell>{{r.transfer_code }}</clr-dg-cell>
        <clr-dg-cell>{{r.src_warehouse_name}}</clr-dg-cell>
        <clr-dg-cell>{{r.dst_warehouse_name}}</clr-dg-cell>
        <clr-dg-cell style="text-align: center;">
          <button class="btn btn-sm btn-success wm-small-btn" (click)="gotoTransfer(r.transfer_id)">
            แก้ไข
          </button>
        </clr-dg-cell>
      </clr-dg-row>

      <clr-dg-footer>{{transfers.length}} รายการ</clr-dg-footer>
    </clr-datagrid>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-sm btn-danger" (click)="isOpenSearchTranfer = false">ยกเลิก</button>
  </div>
</clr-modal>
<!-- /search tranfer -->

<!-- search issue -->
<clr-modal [(clrModalOpen)]="isOpenSearchIssue" [clrModalSize]="'lg'" [clrModalClosable]="false">
  <h3 class="modal-title">ค้นหาใบตัดจ่าย</h3>
  <div class="modal-body">
    <label for="">เลขที่ใบตัดจ่าย</label>
    <input type="text" style="width: 300px;" #queryIssue (keyup)="doSearchIssues($event, queryIssue.value)" placeholder="พิมพ์เลขที่ใบตัดจ่าย แล้วกด ENTER">
    <clr-datagrid>
      <clr-dg-column>วันที่ตัดจ่าย</clr-dg-column>
      <clr-dg-column>เลขที่ใบตัดจ่าย</clr-dg-column>
      <clr-dg-column>คลัง</clr-dg-column>
      <clr-dg-column style="width: 60px;">#</clr-dg-column>

      <clr-dg-row *ngFor="let r of issues">
        <clr-dg-cell>{{r.issue_date | toThaiDate}}</clr-dg-cell>
        <clr-dg-cell>{{r.issue_code }}</clr-dg-cell>
        <clr-dg-cell>{{r.warehouse_name}}</clr-dg-cell>
        <!-- <clr-dg-cell>{{r.dst_warehouse_name}}</clr-dg-cell> -->
        <clr-dg-cell style="text-align: center;">
          <button class="btn btn-sm btn-success wm-small-btn" (click)="gotoIssue(r.issue_id)">
            แก้ไข
          </button>
        </clr-dg-cell>
      </clr-dg-row>

      <clr-dg-footer>{{issues.length}} รายการ</clr-dg-footer>
    </clr-datagrid>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-sm btn-danger" (click)="isOpenSearchIssue = false">ยกเลิก</button>
  </div>
</clr-modal>
<!-- /search issue -->

<!-- search pick -->
<clr-modal [(clrModalOpen)]="isOpenSearchPick" [clrModalSize]="'lg'" [clrModalClosable]="false">
  <h3 class="modal-title">ค้นหาใบหยิบ</h3>
  <div class="modal-body">
    <label for="">เลขที่ใบหยิบ</label>
    <input type="text" style="width: 300px;" #queryPick (keyup)="doSearchPick($event, queryPick.value)" placeholder="พิมพ์เลขที่ใบหยิบ แล้วกด ENTER">
    <clr-datagrid>
      <clr-dg-column>วันที่หยิบ</clr-dg-column>
      <clr-dg-column>เลขที่หยิบ</clr-dg-column>
      <clr-dg-column>หน่วยหยิบ</clr-dg-column>
      <clr-dg-column style="width: 60px;">#</clr-dg-column>

      <clr-dg-row *ngFor="let r of picks">
        <clr-dg-cell>{{r.pick_date | toThaiDate}}</clr-dg-cell>
        <clr-dg-cell>{{r.pick_code }}</clr-dg-cell>
        <clr-dg-cell>{{r.warehouse_name}}</clr-dg-cell>
        <!-- <clr-dg-cell>{{r.dst_warehouse_name}}</clr-dg-cell> -->
        <clr-dg-cell style="text-align: center;">
          <button class="btn btn-sm btn-success wm-small-btn" (click)="gotoPick(r.pick_id)">
            แก้ไข
          </button>
        </clr-dg-cell>
      </clr-dg-row>

      <clr-dg-footer>{{issues.length}} รายการ</clr-dg-footer>
    </clr-datagrid>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-sm btn-danger" (click)="isOpenSearchPick = false">ยกเลิก</button>
  </div>
</clr-modal>
<!-- /search issue -->


<!-- history -->
<clr-modal [(clrModalOpen)]="modalHistory" [clrModalSize]="'xl'" [clrModalClosable]="false">
  <h3 class="modal-title">ประวัติการปรับ stockcard</h3>
  <div class="modal-body">
    <!-- <label for="">เลขที่ใบรับ</label>
    <input type="text" style="width: 300px;" #queryHistory (keyup)="doSearchRequisitions($event, queryHistory.value)" placeholder="พิมพ์เลขที่ใบเบิก แล้วกด ENTER"> -->
    <clr-datagrid>
      <clr-dg-column>วันที่</clr-dg-column>
      <clr-dg-column>เลขที่ใบ</clr-dg-column>
      <clr-dg-column>Trade Code</clr-dg-column>
      <clr-dg-column>Trade Name</clr-dg-column>
      <clr-dg-column>รับ(ยอดเดิม)</clr-dg-column>
      <clr-dg-column>รับ(ยอดใหม่)</clr-dg-column>
      <clr-dg-column>จ่าย(ยอดเดิม)</clr-dg-column>
      <clr-dg-column>จ่าย(ยอดใหม่)</clr-dg-column>
      <clr-dg-column>คลัง</clr-dg-column>
      <clr-dg-column>อ้างอิง</clr-dg-column>

      <clr-dg-row *ngFor="let r of history">
        <clr-dg-cell>{{r.stock_card_log_date | toThaiDate}}</clr-dg-cell>
        <clr-dg-cell>{{r.document_ref }}</clr-dg-cell>
        <clr-dg-cell>{{r.working_code}}</clr-dg-cell>
        <clr-dg-cell>{{r.product_name}}</clr-dg-cell>
        <clr-dg-cell>{{r.in_qty_old}}</clr-dg-cell>
        <clr-dg-cell>{{r.in_qty_new}}</clr-dg-cell>
        <clr-dg-cell>{{r.out_qty_old}}</clr-dg-cell>
        <clr-dg-cell>{{r.out_qty_new}}</clr-dg-cell>
        <clr-dg-cell>{{r.warehouse_name}}</clr-dg-cell>
        <clr-dg-cell>{{r.fullname}}</clr-dg-cell>
      </clr-dg-row>

      <clr-dg-footer>{{history.length}} รายการ</clr-dg-footer>
    </clr-datagrid>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-sm btn-danger" (click)="modalHistory = false">ยกเลิก</button>
  </div>
</clr-modal>

<clr-modal [(clrModalOpen)]="passwordModal" [clrModalSize]="'xl'" [clrModalClosable]="false">
  <h3 class="modal-title">การประมวลผลยอดคงเหลือ stockcard จะทำการประมวลผลเฉพาะยอดคงเหลือเท่านั้น และเฉพาะคลังที่ login
    เข้ามา</h3>
  <div class="modal-body">
    <div class="row">
      <div class="col-md-12">
        กรุณาตรวจสอบความถูกต้อง การกดประมวลผลถือว่าเป็นการปรับ stockcard เป็นที่เรียบร้อย
      </div>
    </div>
    <div class="row" style="text-align: center;padding-top:30px;">
      <div class="col-md-6" style="text-align: right"> รหัสผ่าน</div>
      <div class="col-md-6" style="text-align: left;">
        <input type="password" name="password" (keyup)="enterCalStockCard($event)" [(ngModel)]="password">
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-success btn-sm" [disabled]="isSaving" (click)="calStockCard()">ประมวลผล</button>
    <button type="button" class="btn btn-danger btn-sm" (click)="passwordModal = false">ปิดหน้าต่าง</button>
  </div>
</clr-modal>

<clr-modal [(clrModalOpen)]="removeStockcardModal" [clrModalSize]="'l'" [clrModalClosable]="false">
  <h3 class="modal-title">ลบ stockcard คลังที่เลือก และ ทำการยกยอดจากคงคลังมาลง stockcard ใหม่</h3>
  <div class="modal-body">
    <div class="row">
      <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
        <label class="required">คลัง</label>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <wm-select-warehouses [selectedId]="warehouseId" (onSelect)="setSelectedWarehouse($event)">

        </wm-select-warehouses>
      </div>
    </div>
    <div class="row" style="padding-top: 1em">
      <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
        <label class="required">รหัสผ่าน</label>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <input  type="password" [(ngModel)]="passwordRemovestockcard">
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-success btn-sm" [disabled]="isSaving" (click)="removestockcard()">ประมวลผล</button>
    <button type="button" class="btn btn-danger btn-sm" (click)="removeStockcardModal = false">ปิดหน้าต่าง</button>
  </div>
</clr-modal>


<wm-loading-modal #modalLoading></wm-loading-modal>