<div [clrLoading]="loading">
  <clr-datagrid>
    <clr-dg-column [style.width.%]="40">ชื่อยา</clr-dg-column>
    <clr-dg-column [style.width.%]="15">หมดอายุ</clr-dg-column>
    <clr-dg-column [style.width.%]="15">จำนวนที่ยืม</clr-dg-column>
    <clr-dg-column [style.width.%]="15">จำนวนที่ให้ยืม</clr-dg-column>
    <clr-dg-row *clrDgItems="let p of items">
      <clr-dg-cell>
        <span class="p4">{{p.generic_name}}</span>
      </clr-dg-cell>
      <clr-dg-cell>{{p.expired_date | expiredDate}}</clr-dg-cell>
      <clr-dg-cell style="text-align: right;" [ngStyle]="{'color':'#007cbb'}">
        {{p.qty |
        number}} {{p.from_unit_name}} ({{p.conversion_qty | number}}
        {{p.to_unit_name}})
      </clr-dg-cell>
      <clr-dg-cell style="text-align: right;" [ngStyle]="{'color':'#007cbb'}">
        {{p.out_qty}} {{p.from_unit_name}}
        ({{p.conversion_qty | number}}
        {{p.to_unit_name}})
      </clr-dg-cell>
    </clr-dg-row>
    <clr-dg-footer>
      {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}} จาก {{pagination.totalItems}} รายการ
      <clr-dg-pagination #pagination [clrDgPageSize]="10"></clr-dg-pagination>
    </clr-dg-footer>
  </clr-datagrid>
</div>