<nav class="breadcrumb">
  <a class="breadcrumb-item" href="javascript://" routerLink="/staff">หน้าหลัก</a>
  <a class="breadcrumb-item" href="javascript://" routerLink="/staff/transfer">โอนเวชภัณฑ์ระหว่างคลัง</a>
  <span class="breadcrumb-item active">บันทึกการโอน</span>
</nav>

<div class="card" style="padding-top: 0px;">
  <div class="card-block" style="padding: 0px 5px 5px 5px;">
    <form style="padding-top: 0px; padding-bottom: 0px;">
      <section class="form-block" style="margin-bottom: 0px;">
        <div class="form-group row">
          <div class="col-lg-1 col-md-1 col-sm-12 col-xs-12">
            <label for="transferDate" class="required">วันที่โอน</label>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
            <my-date-picker-th name="mydate" [options]="myDatePickerOptions" [(ngModel)]="transferDate" required></my-date-picker-th>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-lg-1 col-md-1 col-sm-12 col-xs-12">
            <label for="srcWarehouseId" class="required">โอนจากคลัง</label>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
            <wm-select-warehouses [disabled]="true" #srcWarehouse [selectedId]="srcWarehouseId"></wm-select-warehouses>
          </div>
          <div class="col-lg-1 col-md-1 col-sm-12 col-xs-12">
            <label class="required" for="dstWarehouseId">ไปยังคลัง</label>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
            <!-- <wm-select-warehouses [selectedId]="dstWarehouseId" #dstWarehouse (onSelect)="setDstWarehouse($event)"></wm-select-warehouses> -->
            <div class="select">
              <select name="slWarehouse" #cmp id="slWarehouse" [(ngModel)]="dstWarehouseId" (change)="setDstWarehouse($event, cmp);getTemplates()">
                <option value="">
                  กรุณาเลือกคลัง
                </option>
                <option *ngFor="let w of dstWarehouses" [value]="w.warehouse_id">{{ w.short_code }} - {{ w.warehouse_name }}</option>
              </select>
            </div>
          </div>
          <div class="col-md-1 col-lg-1">
            Template
          </div>
          <div class="col-md-3 col-lg-3">
              <div class="select">
                  <select id="slTemplate" name="slTemplateId" [(ngModel)]="templateId" (change)="getGenericItems($event)">
                    <option value="">เลือกเทมเพลต (Template)</option>
                    <option *ngFor="let item of templates" [value]="item.template_id">{{item.template_subject}}</option>
                  </select>
                </div>
          </div>
        </div>
      </section>
    </form>

  </div>

</div>
<div class="row">
  <div class="col-md-10">
    <h4>รายการสินค้าที่ต้องการโอน</h4>
  </div>
  <div class="col-md-2">
    <!-- <button class="btn btn-primary btn-sm" (click)="showUploadModal()">
      <clr-icon shape="import"></clr-icon>
      นำเข้ารายการจาก Excel
    </button> -->
  </div>
</div>
<clr-datagrid class="grid-order" style="position: relative;">
  <clr-dg-column>#</clr-dg-column>
  <clr-dg-column>Working Code</clr-dg-column>
  <clr-dg-column style="width: 220px;">ชื่อ Generic</clr-dg-column>
  <clr-dg-column>จำนวนโอน</clr-dg-column>
  <clr-dg-column style="width: 130px;">Package</clr-dg-column>
  <clr-dg-column>รวม
    <br> (Base Unit)</clr-dg-column>
  <clr-dg-column>คงเหลือหลังโอน
    <br> (Base Unit)</clr-dg-column>
  <clr-dg-column>Location</clr-dg-column>
  <clr-dg-column></clr-dg-column>

  <clr-dg-row class="grid-order" *ngFor="let generic of generics; let idx = index;">
    <wm-transfer-items-staff *clrIfExpanded [products]="generic.products" (onChangeQty)="changeProductQty(generic.generic_id, $event)"
      ngProjectAs="clr-dg-row-detail"></wm-transfer-items-staff>
    <clr-dg-cell style="line-height: 25px;">{{idx + 1}}</clr-dg-cell>
    <clr-dg-cell style="line-height: 25px;">{{generic.working_code}}</clr-dg-cell>
    <clr-dg-cell style="line-height: 25px;">{{generic.generic_name}}</clr-dg-cell>
    <clr-dg-cell>
      <input type="text" #qty (keyup)="editChangetransferQty(idx, qty)" class="wm-edit-box-number" style="width: 100%; background-color: #FFF9C4"
        wmNumberWithOutDot [value]="generic.transfer_qty" />
    </clr-dg-cell>
    <clr-dg-cell>
      <wm-select-receive-unit #unit (onSelect)="editChangeUnit(idx, $event, unit)" [selectedUnitGenericId]="generic.unit_generic_id"
        [genericId]="generic.generic_id"></wm-select-receive-unit>
    </clr-dg-cell>
    <clr-dg-cell style="line-height: 25px; text-align: right;">{{generic.transfer_qty*generic.conversion_qty | number}}</clr-dg-cell>
    <clr-dg-cell style="line-height: 25px; text-align: right;" [ngStyle]="{'color': (generic.transfer_qty * generic.conversion_qty) > generic.remain_qty ? 'red' : 'green'}">
      {{generic.remain_qty - (generic.transfer_qty*generic.conversion_qty) | number}}
    </clr-dg-cell>
    <clr-dg-cell>
      <wm-select-product-location [warehouseId]="dstWarehouseId" [selectedId]="generic.location_id" (onSelect)="editChangeLocation($event, idx)"></wm-select-product-location>
    </clr-dg-cell>
    <clr-dg-cell style="text-align: center;">
      <div class="btn-group btn-primary">
        <button class="btn btn-sm btn-danger wm-small-btn" (click)="removeProduct(idx)">
          <clr-icon shape="trash"></clr-icon>
        </button>
      </div>
    </clr-dg-cell>
  </clr-dg-row>

  <clr-dg-row class="newLine">
    <clr-dg-cell>&nbsp;</clr-dg-cell>
    <clr-dg-cell style="line-height: 25px;">{{workingCode}}</clr-dg-cell>
    <clr-dg-cell>
      <wm-search-generic-warehouse-zero [warehouseId]="srcWarehouseId" #productSearch (onSelect)="setSelectedProduct($event)"></wm-search-generic-warehouse-zero>
    </clr-dg-cell>
    <clr-dg-cell>
      <input type="text" class="wm-edit-box-number" style="background-color: #FFF9C4" [disabled]="!genericId" [(ngModel)]="transferQty"
        wmNumberWithOutDot placeholder="0">
    </clr-dg-cell>
    <clr-dg-cell>
      <wm-select-receive-unit #unitList (onSelect)="changeUnit($event)"></wm-select-receive-unit>
    </clr-dg-cell>
    <clr-dg-cell style="text-align: right; line-height: 25px;" [ngStyle]="{'color': (transferQty * conversionQty) > remainQty ? 'red' : 'green'}">{{ transferQty*conversionQty | number }}</clr-dg-cell>
    <clr-dg-cell style="text-align: right; line-height: 25px;">{{ remainQty - (transferQty * conversionQty) | number }}</clr-dg-cell>
    <clr-dg-cell>
      <wm-select-product-location #locationList (onSelect)="changeLocation($event)"></wm-select-product-location>
    </clr-dg-cell>
    <clr-dg-cell style="text-align: center;">
      <div class="btn-group btn-primary">
        <button class="btn btn-success btn-sm wm-small-btn" [disabled]="!genericId || !transferQty || ((transferQty * conversionQty) > remainQty)"
          (click)="addGeneric()">
          เพิ่ม
        </button>
        <button class="btn btn-danger btn-sm wm-small-btn" (click)="clearForm()">
          ยกเลิก
        </button>
      </div>
    </clr-dg-cell>
  </clr-dg-row>

</clr-datagrid>

<div>
  <button class="btn btn-success btn-sm" (click)="saveTransfer()" [disabled]="!generics.length || !dstWarehouseId || !srcWarehouseId">
    <clr-icon shape="floppy"></clr-icon>
    บันทึกการโอน
  </button>
  <button class="btn btn-danger btn-sm" routerLink="/staff/transfer">
    <clr-icon shape="home"></clr-icon>
    กลับหน้าหลัก
  </button>
</div>

<clr-modal [(clrModalOpen)]="openUpload" [clrModalClosable]="false">
  <h3 class="modal-title">อัปโหลดไฟล์</h3>
  <div class="modal-body">
    <p>เลือกไฟล์ที่ต้องการอัปโหลดโดยเลือกไฟล์ .xls, xlsx เท่านั้น</p>
    <form>
      <section class="form-block">
        <div class="form-group row">
          <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12">
            <input class="form-control" disabled type="text" id="txtFile" placeholder="..." [value]="fileName">
          </div>
          <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
            <div>
              <label class="btn btn-sm btn-success btn-link wm-small-btn">
                <input type="file" #file accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,application/vnd.ms-excel"
                  style="display: none;" (change)="fileChangeEvent($event)">
                <clr-icon shape="search"></clr-icon>
              </label>
            </div>
          </div>
        </div>
      </section>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-sm btn-primary" [disabled]="!fileName" (click)="doUpload()">
      อัปโหลดไฟล์
    </button>
    <button type="button" class="btn btn-sm btn-danger" (click)="openUpload = false">
      ปิด/ยกเลิก
    </button>
  </div>
</clr-modal>

<wm-loading-modal #modalLoading></wm-loading-modal>