<nav class="breadcrumb">
  <span class="breadcrumb-item active">หน้าหลัก</span>
  <span class="breadcrumb-item active">รายการยาที่ถึงจุดเบิก</span>
</nav>

<div class="row wid99" style="padding-top: 5px; padding-bottom: 5px;">
  <div class="col-md-6">
    ค้นหา :
    <input id="search_input" name="query" [(ngModel)]="query" (keyup)="enterSearchGeneric($event)" style="width: 300px;"
      type="text" placeholder="ค้นหาสินค้า...">
  </div>
  <div class="col-md-3 push-md-3" style="text-align: right;">
    <wm-select-generic-type-multi #genericTypeMulti (onSelect)="selectGenericTypeMulti($event)">
    </wm-select-generic-type-multi>
  </div>
</div>
<clr-datagrid [style.height.%]="85">
  <clr-dg-column [clrDgField]="'generic_working_code'">Generic Code</clr-dg-column>
  <clr-dg-column [clrDgField]="'generic_name'">Generic Name</clr-dg-column>
  <clr-dg-column> min-max(base unit)</clr-dg-column>
  <clr-dg-column [style.width.px]="150">คงเหลือ(base unit)</clr-dg-column>
  <clr-dg-row *clrDgItems="let p of generics" [clrDgItem]="p">
    <wm-staff-product-stock-remain *clrIfExpanded ngProjectAs="clr-dg-row-detail" [genericId]="p.generic_id">
    </wm-staff-product-stock-remain>
    <clr-dg-cell>{{p.generic_working_code}}</clr-dg-cell>
    <clr-dg-cell>
      {{p.generic_name}}
    </clr-dg-cell>
    <clr-dg-cell>{{p.min_qty | number}}/{{p.max_qty | number}}</clr-dg-cell>
    <clr-dg-cell style="text-align: center;">{{p.qty | number}} {{p.small_unit}}</clr-dg-cell>
  </clr-dg-row>

  <clr-dg-footer>
    {{paginationA.firstItem + 1}} - {{paginationA.lastItem + 1}} จาก {{paginationA.totalItems}} รายการ
    <clr-dg-pagination #paginationA [clrDgPageSize]="20"></clr-dg-pagination>
  </clr-dg-footer>
</clr-datagrid>
<wm-loading-modal #modalLoading></wm-loading-modal>