<nav class="breadcrumb">
  <a class="breadcrumb-item" href="javascript://" routerLink="/admin">หน้าหลัก</a>
  <a class="breadcrumb-item" href="javascript://" routerLink="/admin/requisition">เบิกยาและเวชภัณฑ์</a>
  <span class="breadcrumb-item active">บันทึกจ่ายเวชภัณฑ์ (กรณีค้างจ่าย)</span>
</nav>

<div class="card" style="padding: 0px 3px 0 3px;">
  <div class="card-block" style="padding: 0px 3px 0 3px;">
    <form>
      <section class="form-block">
        <div class="form-group row">
          <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
            <label for="requisitionCode">รหัสใบเบิก</label>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
            <input type="text" name="requisitionCode" id="requisitionCode" placeholder="สร้างอัตโนมัติ" style="width: 100%;" disabled
              [(ngModel)]="requisitionCode">
          </div>
        </div>
        <div class="form-group row">
          <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
            <label for="requisitionDate" class="required">วันที่เบิก</label>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
            <my-date-picker-th name="mydate" [options]="myDatePickerOptions" [(ngModel)]="requisitionDate" required></my-date-picker-th>
          </div>
          <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
            <label class="required" for="gForm_1">ประเภทการเบิกจ่าย</label>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
            <input disabled type="text" style="width: 100%;" [value]="requisitionType">
          </div>
        </div>
        <div class="form-group row">
          <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
            <label class="required" for="wmRequisition">หน่วยเบิก</label>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
            <input disabled type="text" style="width: 100%;" [value]="requisitionWarehouseName">
          </div>
          <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
            <label class="required" for="slWarehouse">เบิกจากคลัง</label>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
            <input disabled type="text" style="width: 100%;" [value]="withdrawWarehouseName">
          </div>
        </div>
      </section>
    </form>

  </div>
</div>

<clr-datagrid [style.height.%]="75" style="padding-top: 10px;">
  <clr-dg-column style="width: 15px;">ลำดับ</clr-dg-column>
  <clr-dg-column style="width: 110px;">Working Code</clr-dg-column>
  <clr-dg-column>ชื่อ Generic</clr-dg-column>
  <clr-dg-column style="width: 100px;">จำนวนค้างจ่าย</clr-dg-column>
  <!-- <clr-dg-column style="width: 100px;">ค้างจ่าย</clr-dg-column> -->
  <clr-dg-column style="width: 200px;">Package</clr-dg-column>
  <clr-dg-column style="width: 110px;">รวม (Base Unit)</clr-dg-column>
  <!-- <clr-dg-column style="width: 50px;"></clr-dg-column> -->
  <clr-dg-row *ngFor="let g of products; let idx=index;">
    <wm-confirm-order-items *clrIfExpanded [confirmItems]="g.confirmItems" (onSuccessConfirm)="onSuccessConfirm($event, idx)" [isEdit]="isEdit" [baseUnitName]="g.to_unit_name" [genericId]="g.generic_id" [requisitionQty]="g.requisition_qty" [requisitionId]="requisitionId" ngProjectAs="clr-dg-row-detail"></wm-confirm-order-items>
    <clr-dg-cell style="text-align: right;">
      <span class="p4">{{ idx +1}}</span>
    </clr-dg-cell>
    <clr-dg-cell style="text-align: right;">
      <span class="p4">{{ g.working_code }}</span>
    </clr-dg-cell>
    <clr-dg-cell><span class="p4">{{ g.generic_name }}</span></clr-dg-cell>
    <clr-dg-cell style="text-align: right;"><span class="p4">{{ g.unpaid_qty }}</span></clr-dg-cell>
    <clr-dg-cell>
      <span class="p4">{{ g.from_unit_name }} ({{g.conversion_qty | number}} {{g.to_unit_name}})</span>
    </clr-dg-cell>
    <clr-dg-cell style="text-align: right;">
      <span class="p4">{{ g.conversion_qty * g.unpaid_qty | number }} {{ g.to_unit_name }}</span>
    </clr-dg-cell>

  </clr-dg-row>
  <clr-dg-footer>
    จำนวนทั้งหมด {{products.length}} รายการ &nbsp;&nbsp;&nbsp;
    <!-- <clr-checkbox [clrInline]="true" name="isVerify" [(ngModel)]="isVerify">ตรวจสอบข้อมูลถูกต้อง</clr-checkbox> -->
    <button class="btn btn-sm btn-success" (click)="approveRequisitionCheck()">
      <clr-icon shape="floppy"></clr-icon> อนุมัติจ่าย
    </button>
    <button class="btn btn-sm btn-danger" (click)="removeOrderConfirm()">
      <clr-icon shape="trash"></clr-icon> ยกเลิกค้างจ่าย
    </button>
    <button class="btn btn-sm btn-danger-outline" routerLink="/admin/requisition">
      <clr-icon shape="home"></clr-icon> กลับหน้าหลัก
    </button>

  </clr-dg-footer>

</clr-datagrid>
<clr-modal [(clrModalOpen)]="openModalConfirm" [clrModalStaticBackdrop]="true" [clrModalSize]="'md'" [clrModalClosable]="false">
  <h3 class="modal-title">สิทธิ์การอนุมัติ{{titel}}</h3>
  <div class="modal-body" style="height:150px">

    <form>
      <section class="form-block">
        <div class="form-group">
          <label for="aForm_1" class="required">User Name</label>
          <input autocomplete="nope" type="text" id="username" name="username" [(ngModel)]="username" >
        </div>
        <div class="form-group">
          <label for="aForm_1" class="required"> password</label>
          <input autocomplete="new-password" type="password" id="password" name="password" [(ngModel)]="password"  (keyup.enter)="checkApprove(username,password)">
        </div>
      </section>
    </form>
  </div>
  <div class="modal-footer" style="padding-top: 0px;">
    <button type="button" class="btn btn-md btn-primary" [disabled]="!username || !password"
      (click)="checkApprove(username,password)">บันทึก</button>
    <button type="button" class="btn btn-md btn-danger-outline" (click)="close()">ปิด</button>
  </div>
</clr-modal>
<wm-loading-modal #modalLoading></wm-loading-modal>