<nav class="breadcrumb">
  <a class="breadcrumb-item" href="javascript://" routerLink="/staff">หน้าหลัก</a>
  <a class="breadcrumb-item" href="javascript://" routerLink="/staff/borrow">ยืมสินค้าในหน่วยงาน</a>
  <span class="breadcrumb-item active">บันทึกการยืม</span>
</nav>

<div class="card" style="padding-top: 0px;">
  <div class="card-block" style="padding: 0px 5px 5px 5px;">
    <form style="padding-top: 0px; padding-bottom: 0px;">
      <section class="form-block" style="margin-bottom: 0px;">
        <div class="form-group row wid99">
          <div class="col-lg-1 col-md-1 col-sm-12 col-xs-12">
            <label for="borrowDate" class="required">วันที่ยืม</label>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
            <my-date-picker-th name="mydate" [options]="myDatePickerOptions" [(ngModel)]="borrowDate" required></my-date-picker-th>
          </div>
        </div>
        <div class="form-group row wid99">
          <div class="col-lg-1 col-md-1 col-sm-12 col-xs-12">
            <label for="peopleName">
              <span *ngIf="!peopleId" style="color: red;">เจ้าหน้าที่</span>
              <span *ngIf="peopleId">เจ้าหน้าที่</span>
            </label>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <wm-search-people-autocomplete #elSearchPeople (onChange)="onChangePeople($event)" (onSelect)="onSelectedPeople($event)"></wm-search-people-autocomplete>
          </div>
        </div>  
        <div class="form-group row wid99">
          <div class="col-lg-1 col-md-1 col-sm-12 col-xs-12">
            <label class="required" for="dstWarehouseId">หน่วยเบิก</label>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
            <wm-select-warehouses #dstWarehouse [selectedId]="dstWarehouseId" (onSelect)="setDstWarehouse($event)" [disabled]="true"></wm-select-warehouses>
          </div>
          <div class="col-lg-1 col-md-1 col-sm-12 col-xs-12">
            <label for="srcWarehouseId" class="required">ยืมจากคลัง</label>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
            <wm-select-warehouses #srcWarehouse [selectedId]="srcWarehouseId" (onSelect)="setSrcWarehouse($event)"></wm-select-warehouses>
          </div>
        </div>
      </section>
    </form>

  </div>

</div>
<h4>รายการสินค้าที่ต้องการยืม</h4>

<clr-datagrid class="grid-order" style="position: relative;">
  <clr-dg-column>#</clr-dg-column>
  <clr-dg-column>Working Code</clr-dg-column>
  <clr-dg-column style="width: 300px;">ชื่อ Generic</clr-dg-column>
  <clr-dg-column style="width: 50px;">จำนวนยืม</clr-dg-column>
  <clr-dg-column>Package</clr-dg-column>
  <clr-dg-column>รวม (Base Unit)</clr-dg-column>
  <clr-dg-column></clr-dg-column>

  <clr-dg-row class="grid-order" *ngFor="let generic of generics; let idx = index;">
    <clr-dg-cell style="line-height: 25px;">{{idx + 1}}</clr-dg-cell>
    <clr-dg-cell style="line-height: 25px;">{{generic.working_code}}</clr-dg-cell>
    <clr-dg-cell style="line-height: 25px;">{{generic.generic_name}}</clr-dg-cell>
    <clr-dg-cell style="line-height: 25px; text-align: right;">{{generic.borrow_qty/generic.conversion_qty | number}}</clr-dg-cell>
    <clr-dg-cell style="line-height: 25px; text-align: right;">
      <wm-select-receive-unit [disabled]="true" [genericId]="generic.generic_id" [selectedUnitGenericId]="generic.unit_generic_id" (onSelect)="editChangeUnit($event, idx)"></wm-select-receive-unit>
    </clr-dg-cell>
    <clr-dg-cell style="line-height: 25px; text-align: right;">
      {{generic.borrow_qty | number}} {{generic.primary_unit_name}}
    </clr-dg-cell>
    <clr-dg-cell style="text-align: center;">
      <div class="btn-group btn-primary">
        <button class="btn btn-sm btn-danger wm-small-btn" (click)="removeProduct(idx)">
          <clr-icon shape="trash"></clr-icon>
        </button>
      </div>
    </clr-dg-cell>
  </clr-dg-row>

  <clr-dg-row class="newLine">
    <clr-dg-cell>&nbsp;</clr-dg-cell>
    <clr-dg-cell style="line-height: 25px;">{{workingCode}}</clr-dg-cell>
    <clr-dg-cell>
      <wm-search-generic-warehouse-zero [warehouseId]="srcWarehouseId" #productSearch (onSelect)="setSelectedProduct($event)"></wm-search-generic-warehouse-zero>
      <!-- <wm-search-product-warehouse [warehouseId]="srcWarehouseId" #productSearch (onChange)="clearProductSearch($event)" (onSelect)="setSelectedProduct($event)"></wm-search-product-warehouse>     -->
    </clr-dg-cell>
    <clr-dg-cell>
      <input type="text" #qty (keyup)="onChangeEditQty(qty.value)" [value]="borrowQty" style="width: 100%; text-align: right; background-color:#FFF9C4"
        placeholder="" wmNumberWithOutDot>
    </clr-dg-cell>
    <clr-dg-cell>
      <wm-select-receive-unit #unitList (onSelect)="changeUnit($event)"></wm-select-receive-unit>
    </clr-dg-cell>
    <clr-dg-cell style="text-align: right;">
      {{borrowQty * conversionQty}} {{primaryUnitName}}
    </clr-dg-cell>
    <clr-dg-cell style="text-align: center;">
      <div class="btn-group btn-primary">
        <button class="btn btn-success btn-sm wm-small-btn" [disabled]="!genericId" (click)="addGeneric()">
          เพิ่ม
        </button>
        <button class="btn btn-danger btn-sm wm-small-btn" (click)="clearForm()">
          ยกเลิก
        </button>
      </div>
    </clr-dg-cell>
  </clr-dg-row>

</clr-datagrid>

<div style="height: 200px;">
  <button class="btn btn-success btn-sm" (click)="saveBorrow()" [disabled]="isSaving || !generics.length || !dstWarehouseId || !srcWarehouseId">
    <clr-icon shape="floppy"></clr-icon>
    บันทึกการยืม
  </button>
  <button class="btn btn-danger btn-sm" [routerLink]="['/staff/borrow']">
    <clr-icon shape="home"></clr-icon>
    กลับหน้าหลัก
  </button>
</div>

<wm-loading-modal #modalLoading></wm-loading-modal>