<div [clrLoading]="loading">
  <clr-tabs>
    <clr-tab>
      <button clrTabLink>
        <span class="badge badge-success">{{filterGenericsIsSuccess('Y').length}}</span>รายการที่สมบูรณ์</button>
      <clr-tab-content *clrIfActive>
        <clr-datagrid>
          <clr-dg-column [clrDgField]="'working_code'">Working Code</clr-dg-column>
          <clr-dg-column [clrDgField]="'generic_name'">ชื่อเวชภัณฑ์</clr-dg-column>
          <clr-dg-column style="text-align: right;" [style.width.px]="100">Min Qty.</clr-dg-column>
          <clr-dg-column style="text-align: right;" [style.width.px]="100">Max Qty.</clr-dg-column>
          <clr-dg-column style="text-align: right;" [style.width.px]="100">คงเหลือ</clr-dg-column>
          <clr-dg-column style="text-align: right;" [style.width.px]="100">ยอดเติม</clr-dg-column>
          <clr-dg-column style="text-align: right;" [style.width.px]="100">จำนวนเติม</clr-dg-column>
          <clr-dg-column style="text-align: center;" [style.width.px]="100">หน่วย</clr-dg-column>
          <clr-dg-placeholder>ไม่พบรายการ</clr-dg-placeholder>
          <clr-dg-row *ngFor="let g of filterGenericsIsSuccess('Y')">
            <clr-dg-cell>{{g.working_code}}</clr-dg-cell>
            <clr-dg-cell>{{g.generic_name}}</clr-dg-cell>
            <clr-dg-cell style="text-align: right;">{{g.dst_min_qty | number}}</clr-dg-cell>
            <clr-dg-cell style="text-align: right;">{{g.dst_max_qty | number}}</clr-dg-cell>
            <clr-dg-cell style="text-align: right;">{{g.dst_remain_qty | number}}</clr-dg-cell>
            <clr-dg-cell style="text-align: right;">{{g.dst_max_qty - g.dst_remain_qty | number}}</clr-dg-cell>
            <clr-dg-cell style="text-align: right;">{{g.total_transfer_qty | number}}</clr-dg-cell>
            <clr-dg-cell style="text-align: center;">{{g.unit_name}}</clr-dg-cell>
            <wm-transfer-product-detail [generic]="g" (onChangeQty)="changeQty(g.generic_id, $event)" *clrIfExpanded ngProjectAs="clr-dg-row-detail"></wm-transfer-product-detail>
          </clr-dg-row>
          <!-- <clr-dg-footer>
              {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}} จาก {{pagination.totalItems}} รายการ
              <clr-dg-pagination #pagination [clrDgPageSize]="perPage" [clrDgTotalItems]="filterGenericsIsSuccess('Y').length"></clr-dg-pagination>
            </clr-dg-footer> -->
        </clr-datagrid>
      </clr-tab-content>
    </clr-tab>
    <clr-tab>
      <button clrTabLink>
        <span class="badge badge-danger">{{filterGenericsIsSuccess('N').length}}</span>รายการที่ไม่สมบูรณ์</button>
      <clr-tab-content *clrIfActive>
        <clr-datagrid>
          <clr-dg-column [clrDgField]="'working_code'">Working Code</clr-dg-column>
          <clr-dg-column [clrDgField]="'generic_name'">ชื่อเวชภัณฑ์</clr-dg-column>
          <clr-dg-column style="text-align: right;" [style.width.px]="100">Min Qty.</clr-dg-column>
          <clr-dg-column style="text-align: right;" [style.width.px]="100">Max Qty.</clr-dg-column>
          <clr-dg-column style="text-align: right;" [style.width.px]="100">คงเหลือ</clr-dg-column>
          <clr-dg-column style="text-align: right;" [style.width.px]="100">ยอดเติม</clr-dg-column>
          <clr-dg-column style="text-align: right;" [style.width.px]="100">จำนวนเติม</clr-dg-column>
          <clr-dg-column style="text-align: center;" [style.width.px]="100">หน่วย</clr-dg-column>
          <clr-dg-column [style.width.px]="100"></clr-dg-column>
          <clr-dg-placeholder>ไม่พบรายการ</clr-dg-placeholder>
          <clr-dg-row *ngFor="let g of filterGenericsIsSuccess('N')">
            <clr-dg-cell>{{g.working_code}}</clr-dg-cell>
            <clr-dg-cell>{{g.generic_name}}</clr-dg-cell>
            <clr-dg-cell style="text-align: right;">{{g.dst_min_qty | number}}</clr-dg-cell>
            <clr-dg-cell style="text-align: right;">{{g.dst_max_qty | number}}</clr-dg-cell>
            <clr-dg-cell style="text-align: right;">{{g.dst_remain_qty | number}}</clr-dg-cell>
            <clr-dg-cell style="text-align: right;">{{g.dst_max_qty - g.dst_remain_qty | number}}</clr-dg-cell>
            <clr-dg-cell style="text-align: right;">{{g.total_transfer_qty | number}}</clr-dg-cell>
            <clr-dg-cell style="text-align: center;">{{g.unit_name}}</clr-dg-cell>
            <clr-dg-cell style="text-align: center;">
              <div class="btn-group">
                <button class="btn btn-success btn-sm wm-small-btn" (click)="validate(g.generic_id)">
                  <clr-icon shape="check"></clr-icon>
                </button>
              </div>
            </clr-dg-cell>
            <wm-transfer-product-detail [generic]="g" (onChangeQty)="changeQty(g.generic_id, $event)" *clrIfExpanded ngProjectAs="clr-dg-row-detail"></wm-transfer-product-detail>
          </clr-dg-row>
          <!-- <clr-dg-footer>
              {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}} จาก {{pagination.totalItems}} รายการ
              <clr-dg-pagination #pagination [clrDgPageSize]="perPage" [clrDgTotalItems]="filterGenericsIsSuccess('N').length"></clr-dg-pagination>
            </clr-dg-footer> -->
        </clr-datagrid>
      </clr-tab-content>
    </clr-tab>
  </clr-tabs>

  <div class="btn-group btn-sm" style="margin: 5px 0px;">
    <button class="btn btn-primary" (click)="approve()">อนุมัติการเติม</button>
    <!-- <button class="btn btn-success" (click)="save()">บันทึกข้อมูล</button> -->
    <button class="btn btn-danger" (click)="cancel()">ยกเลิกการเติม</button>
  </div>
</div>
<wm-loading-modal #modalLoading></wm-loading-modal>