<nav class="breadcrumb">
  <span class="breadcrumb-item active">หน้าหลัก</span>
  <span class="breadcrumb-item active">รายการสินค้าคงเหลือ</span>
</nav>


<clr-tabs>
  <clr-tab>
    <button clrTabLink>Generic Group</button>
    <clr-tab-content *clrIfActive>
      <div class="row wid99" style="padding-top: 5px; padding-bottom: 5px;">
        <div class="col-md-6">
          ค้นหา :
          <input id="search_input" name="query" [(ngModel)]="query" (keyup)="enterSearchGeneric($event)" style="width: 300px;"
            type="text" placeholder="ค้นหาสินค้า...">
          <!-- <input type="text" class="form-control"> -->
        </div>
        <div class="col-md-3 push-md-3" style="text-align: right;">
          <div class="select">
            <select [(ngModel)]="genericType" name="genericType" (change)="searchGenerics()">
              <option value="">ทั้งหมด</option>
              <option [value]="t.generic_type_id" *ngFor="let t of genericTypes">{{t.generic_type_name}}</option>
            </select>
          </div>
        </div>
      </div>
      <div class="row wid99" style="padding-top: 5px; padding-bottom: 5px;">
        <div class="col-md-2 push-md-8">
          <button class="btn btn-sm btn-primary wm-small-btn" (click)="reportRemain()">
            พิมพ์รายการสินค้าคงเหลือ
          </button>
        </div>
        <div class="col-md-2 push-md-8">
          <button class="btn btn-sm btn-success wm-small-btn" (click)="exportRemain()">
            export รายการสินค้าคงเหลือ
          </button>
        </div>
      </div>
      <clr-datagrid [style.height.%]="85">
        <clr-dg-column [clrDgField]="'generic_code'">Generic Code</clr-dg-column>
        <clr-dg-column [clrDgField]="'generic_name'">Generic Name</clr-dg-column>
        <clr-dg-column> min-max(base unit)</clr-dg-column>
        <clr-dg-column [clrDgField]="'qty'" [style.width.px]="150">คงเหลือ</clr-dg-column>
        <clr-dg-column [style.width.px]="150">คงเหลือ(หักยอดจอง unit)</clr-dg-column>
        <clr-dg-row *clrDgItems="let p of generics" [clrDgItem]="p">
          <clr-dg-action-overflow>
            <button class="action-item" (click)="deleteGeneric(p.generic_id)">ลบรายการ</button>
          </clr-dg-action-overflow>
          <wm-staff-product-stock-remain *clrIfExpanded ngProjectAs="clr-dg-row-detail" [genericId]="p.generic_id"></wm-staff-product-stock-remain>
          <clr-dg-cell>{{p.generic_code}}</clr-dg-cell>
          <clr-dg-cell>
            {{p.generic_name}}
          </clr-dg-cell>
          <clr-dg-cell>{{p.min_qty | number}}/{{p.max_qty | number}}</clr-dg-cell>
          <!-- <clr-dg-cell style="text-align: right;">{{p.large_qty | number }} {{p.large_unit}} ({{p.conversion | number}} {{p.small_unit}})</clr-dg-cell> -->
          <clr-dg-cell style="text-align: center;">{{p.qty | number}} {{p.small_unit}}</clr-dg-cell>
          <clr-dg-cell style="text-align: center;">{{p.qty-p.reserve_qty | number}} {{p.small_unit}}</clr-dg-cell>
        </clr-dg-row>

        <clr-dg-footer>
          {{paginationA.firstItem + 1}} - {{paginationA.lastItem + 1}} จาก {{paginationA.totalItems}} รายการ
          <clr-dg-pagination #paginationA [clrDgPageSize]="20"></clr-dg-pagination>
        </clr-dg-footer>
      </clr-datagrid>
    </clr-tab-content>
  </clr-tab>
  <clr-tab>
    <button clrTabLink>Trade Group</button>
    <clr-tab-content *clrIfActive>
      <div class="row wid99" style="padding-top: 5px; padding-bottom: 5px;">
        <div class="col-md-6">
          ค้นหา :
          <input id="search_input" name="query" [(ngModel)]="query" (keyup)="enterSearch($event)" style="width: 300px;"
            type="text" placeholder="ค้นหาสินค้า...">
          <!-- <input type="text" class="form-control"> -->
        </div>
        <div class="col-md-3 push-md-3" style="text-align: right;">
          <div class="select">
            <select [(ngModel)]="genericType" name="genericType" (change)="searchProducts()">
              <option value="">ทั้งหมด</option>
              <option [value]="t.generic_type_id" *ngFor="let t of genericTypes">{{t.generic_type_name}}</option>
            </select>
          </div>
        </div>
      </div>
      <clr-datagrid [style.height.%]="85">
        <clr-dg-column [clrDgField]="'trade_code'">Trade Code</clr-dg-column>
        <clr-dg-column [clrDgField]="'generic_name'">Trade Name</clr-dg-column>
        <clr-dg-column> min-max(base unit)</clr-dg-column>
        <clr-dg-column>คงเหลือ</clr-dg-column>
        <clr-dg-column>คงเหลือ(หักยอดจอง)</clr-dg-column>
        <clr-dg-row *clrDgItems="let p of products" [clrDgItem]="p">
          <clr-dg-action-overflow>
            <button class="action-item" (click)="deleteProduct(p.product_id)">ลบรายการ</button>
          </clr-dg-action-overflow>
          <wm-staff-product-detail-stock-remain *clrIfExpanded ngProjectAs="clr-dg-row-detail" [productId]="p.product_id"></wm-staff-product-detail-stock-remain>
          <clr-dg-cell>{{p.trade_code}}</clr-dg-cell>
          <clr-dg-cell>{{p.product_name}}
          </clr-dg-cell>
          <clr-dg-cell>{{p.min_qty | number}}/{{p.max_qty | number}}</clr-dg-cell>
          <clr-dg-cell style="text-align: center;">{{p.qty | number}} {{p.small_unit}}</clr-dg-cell>
          <clr-dg-cell style="text-align: center;">{{p.qty-p.reserve_qty | number}} {{p.small_unit}}</clr-dg-cell>
        </clr-dg-row>

        <clr-dg-footer>
          {{paginationA.firstItem + 1}} - {{paginationA.lastItem + 1}} จาก {{paginationA.totalItems}} รายการ
          <clr-dg-pagination #paginationA [clrDgPageSize]="20"></clr-dg-pagination>
        </clr-dg-footer>
      </clr-datagrid>
    </clr-tab-content>
  </clr-tab>
</clr-tabs>


<wm-adjust-product-modal [isCounting]="false" #modalAdjust [openModalAdjust]="openModalAdjust" (onSuccess)="successAdjust($event)"></wm-adjust-product-modal>

<wm-loading-modal #modalLoading></wm-loading-modal>