<clr-main-container>
  <clr-header class="header-7">
    <div class="branding">
      <a class="nav-link">
        <img src="./assets/images/logo-mmis.png" style="width: 100px; height: 70px; padding-right: 5px;" alt="mmis logo" />
        <span class="title">Inventory Management (เจ้าหน้าที่หน่วยเบิก)</span>
      </a>
    </div>
    <div class="header-actions">
      <clr-dropdown>
        <button class="nav-text" clrDropdownTrigger>
          {{fullname}} ({{warehouseCode}} - {{ warehouseName }})
          <clr-icon shape="caret down"></clr-icon>
        </button>
        <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
          <!-- <a href="javascript://" (click)="showManualStaff()" clrDropdownItem>คู่มือเจ้าหน้าที่หน่วยเบิก/รพ.สต.</a> -->
          <a href="javascript://" (click)="openChangePasswordModal()" clrDropdownItem>เปลี่ยนรหัสผ่าน</a>
          <a href="javascript://" (click)="logout()" clrDropdownItem>ออกจากระบบ</a>
        </clr-dropdown-menu>
      </clr-dropdown>
    </div>
  </clr-header>

  <div class="content-container">
    <div class="content-area">
      <router-outlet></router-outlet>
    </div>

    <clr-vertical-nav class="is-collapsed" [clrVerticalNavCollapsible]="collapsible" [(clrVerticalNavCollapsed)]="collapse">
      <a clrVerticalNavLink routerLink="/staff/borrow-notes" title="บันทึกช่วยจำการยืมยา" routerLinkActive="active">
        <clr-icon clrVerticalNavIcon shape="note" class="has-badge is-solid"></clr-icon>
        บันทึกช่วยจำการยืมยา
      </a>
      <a clrVerticalNavLink routerLink="/staff/main" title="สินค้าคงเหลือ" routerLinkActive="active">
        <clr-icon clrVerticalNavIcon shape="folder"></clr-icon>
        สินค้าคงเหลือ
      </a>
      <a clrVerticalNavLink *ngIf="menuReceive" routerLink="/staff/receives" title="รับสินค้าเข้าคลัง" routerLinkActive="active">
        <clr-icon clrVerticalNavIcon shape="plus"></clr-icon>
        รับสินค้าเข้าคลัง
      </a>
      <a clrVerticalNavLink routerLink="/staff/product/requisition" title="รายการยาที่ถึงจุดเบิก" routerLinkActive="active">
        <clr-icon clrVerticalNavIcon shape="export"></clr-icon>
        รายการสินค้าถึงจุดเบิก
      </a>
      <a clrVerticalNavLink *ngIf="menuRequisition" routerLink="/staff/requisition" title="เบิกสินค้า" routerLinkActive="active">
        <clr-icon clrVerticalNavIcon shape="tools"></clr-icon>
        เบิกสินค้า
      </a>
      <a clrVerticalNavLink *ngIf="menuBorrowProduct" routerLink="/staff/borrow" title="ยืม/คืนสินค้า" routerLinkActive="active">
        <clr-icon clrVerticalNavIcon shape="share"></clr-icon>
        ยืม/คืนสินค้า
      </a>
      <a clrVerticalNavLink *ngIf="menuPayRequisition" routerLink="/staff/pay-requisition" title="จ่ายสินค้า" routerLinkActive="active">
        <clr-icon clrVerticalNavIcon shape="tools" class="is-solid"></clr-icon>
        จ่ายสินค้า
      </a>
      <!-- ซ่อนเมนูนี้ออกไปก่อน อย่าเพิ่งลบ -->
      <!-- <a clrVerticalNavLink routerLink="/staff/issue" title="จ่ายยาและเวชภัณฑ์" routerLinkActive="active">
        <clr-icon clrVerticalNavIcon shape="shopping-cart"></clr-icon>
        จ่ายยาและเวชภัณฑ์
      </a> -->
      <!-- สิ้นสุดส่วนซ่อนเมนู -->
      <a clrVerticalNavLink *ngIf="menuTranfer" routerLink="/staff/transfer" title="โอนสินค้า" routerLinkActive="active">
        <clr-icon clrVerticalNavIcon shape="two-way-arrows"></clr-icon>
        โอนสินค้า
      </a>
      <a clrVerticalNavLink *ngIf="menuIssue" routerLink="/staff/issue-transaction" title="บันทึกตัดจ่าย (อื่นๆ)" routerLinkActive="active">
        <clr-icon clrVerticalNavIcon shape="scissors"></clr-icon>
        บันทึกตัดจ่าย (อื่นๆ)
      </a>
      <a clrVerticalNavLink *ngIf="menuIssueHis" routerLink="/staff/his-issue-transaction" title="ตัดจ่ายจาก HIS" routerLinkActive="active">
        <clr-icon clrVerticalNavIcon shape="sync"></clr-icon>
        ตัดจ่ายจาก HIS
      </a>
      <!-- <a clrVerticalNavLink routerLink="/staff/counting" title="นับสินค้าคงเหลือ" routerLinkActive="active">
        <clr-icon clrVerticalNavIcon shape="clipboard"></clr-icon>
        นับสินค้าคงเหลือ
      </a> -->
      <a clrVerticalNavLink *ngIf="menuTemplate" routerLink="/staff/requisition/templates" title="Template ชุดเบิก" routerLinkActive="active">
        <clr-icon clrVerticalNavIcon shape="plugin"></clr-icon>
        Template เบิก/โอน
      </a>
      <a clrVerticalNavLink *ngIf="menuMinMax" routerLink="/staff/planning" title="กำหนดยอดคงเหลือ/MIN-MAX" routerLinkActive="active">
        <clr-icon clrVerticalNavIcon shape="note"></clr-icon>
        กำหนด MIN-MAX
      </a>
      <a clrVerticalNavLink *ngIf="menuMap" routerLink="/staff/his-mappings" title="Map รหัสยาและเวชภัณฑ์" routerLinkActive="active">
        <clr-icon clrVerticalNavIcon shape="share"></clr-icon>
        Map รหัสยาและเวชภัณฑ์
      </a>
      <a clrVerticalNavLink routerLink="/staff/products" title="รายการยาทั้งหมด" routerLinkActive="active">
        <clr-icon clrVerticalNavIcon shape="folder"></clr-icon>
        รายการยาทั้งหมด
      </a>

      <!-- <a clrVerticalNavLink routerLinkActive="active" routerLink="./credit">
        <clr-icon shape="certificate" clrVerticalNavIcon></clr-icon>
        Credit
      </a> -->
      <a clrVerticalNavLink routerLink="/staff/exportdata" title="ส่งออกข้อมูล Excel" routerLinkActive="active">
        <clr-icon clrVerticalNavIcon shape="export"></clr-icon>
        ส่งออกข้อมูล Excel
      </a>
      <clr-vertical-nav-group *ngIf="menuTools" routerLinkActive="active">
        <a clrVerticalNavLink href="javascript://">
          <clr-icon shape="tools" clrVerticalNavIcon></clr-icon>
          เครื่องมือ (Tools)
        </a>
        <clr-vertical-nav-group-children *clrIfExpanded="false">
          <!-- <a clrVerticalNavLink routerLink="/admin/tools/stockcard" routerLinkActive="active">
              <clr-icon shape="scroll"></clr-icon>
              แก้ไข Stock Card
            </a> -->
          <a clrVerticalNavLink *ngIf="menuAdjust" routerLink="/staff/adjust-stock" routerLinkActive="active">
            <clr-icon shape="scissors"></clr-icon>
            ปรับยอดสินค้า
          </a>
        </clr-vertical-nav-group-children>
      </clr-vertical-nav-group>

      <clr-vertical-nav-group routerLinkActive="active">
        <a clrVerticalNavLink href="javascript://">
          <clr-icon shape="printer" clrVerticalNavIcon></clr-icon>
          ระบบรายงาน
        </a>
        <clr-vertical-nav-group-children *clrIfExpanded="false">
          <a clrVerticalNavLink routerLink="/staff/reports/stock-card" routerLinkActive="active">
            <clr-icon shape="printer"></clr-icon>
            รายงานคุมคลังเวชภัณฑ์
          </a>
        </clr-vertical-nav-group-children>
        <clr-vertical-nav-group-children *clrIfExpanded="false">
          <a clrVerticalNavLink routerLink="/staff/reports/value-receive-other" routerLinkActive="active">
            <clr-icon shape="printer"></clr-icon>
            รายงานมูลค่าจากการรับอื่นๆ
          </a>
        </clr-vertical-nav-group-children>
      </clr-vertical-nav-group>
    </clr-vertical-nav>

  </div>

</clr-main-container>

<wm-change-password-modal #modalChangePassword></wm-change-password-modal>