<nav class="breadcrumb">
  <a class="breadcrumb-item" href="javascript://" routerLink="/admin">หน้าหลัก</a>
  <span class="breadcrumb-item active">Map รหัสยากับ HIS</span>
</nav>

<clr-datagrid [style.height.%]="90">
  <!--<clr-dg-column [clrDgField]="'warehouse_id'">รหัส</clr-dg-column>-->
  <clr-dg-column [clrDgField]="'product_id'">รหัสยา (MMIS)</clr-dg-column>
  <clr-dg-column [clrDgField]="'product_name'">รายละเอียด</clr-dg-column>
  <clr-dg-column [clrDgField]="'base_unit_name'">Base Unit</clr-dg-column>
  <clr-dg-column [clrDgField]="'his'">รหัสยา (HIS)</clr-dg-column>
  <clr-dg-column>Conversion</clr-dg-column>
  <clr-dg-column></clr-dg-column>
  <clr-dg-placeholder>ไม่พบข้อมูล!</clr-dg-placeholder>
  <clr-dg-row *clrDgItems="let m of mappings; let idx = index">
    <clr-dg-cell>{{m.product_id}}</clr-dg-cell>
    <clr-dg-cell>{{m.product_name}} ({{m.generic_name}})</clr-dg-cell>
    <clr-dg-cell>{{m.base_unit_name}}</clr-dg-cell>
    <clr-dg-cell>
      <input type="text" class="wm-edit-box-number" style="background-color: #FFF9C4" #his [value]="m.his">
    </clr-dg-cell>
    <clr-dg-cell>
      <input type="text" class="wm-edit-box-number" style="background-color: #FFF9C4" #conversion
      [value]="m.conversion || 1">
    </clr-dg-cell>
    <clr-dg-cell style="text-align: center;">
      <div class="btn-group">
        <button class="btn btn-success btn-sm wm-small-btn" (click)="saveItem(m.product_id, his.value, conversion.value)">
          <clr-icon shape="floppy"></clr-icon>
        </button>
        <button class="btn btn-danger btn-sm wm-small-btn" (click)="removeItem(idx, m.product_id)">
          <clr-icon shape="trash"></clr-icon>
        </button>
      </div>
    </clr-dg-cell>
  </clr-dg-row>

  <clr-dg-footer>
    {{pagination.firstItem + 1 | number}} - {{pagination.lastItem + 1 | number}} จาก {{pagination.totalItems | number}} รายการ
    <clr-dg-pagination #pagination [clrDgPageSize]="15"></clr-dg-pagination>
  </clr-dg-footer>
</clr-datagrid>

<wm-loading-modal #modalLoading></wm-loading-modal>