<nav class="breadcrumb">
  <a class="breadcrumb-item" href="javascript://" routerLink="/admin">หน้าหลัก</a>
  <span class="breadcrumb-item active">Map รหัสยากับ HIS</span>
</nav>

<clr-datagrid [style.height.%]="90">
  <clr-dg-column [clrDgField]="'generic_id'">รหัสยา (MMIS)</clr-dg-column>
  <clr-dg-column [clrDgField]="'generic_name'">รายละเอียด</clr-dg-column>
  <clr-dg-column [clrDgField]="'base_unit_name'">Base Unit</clr-dg-column>
  <clr-dg-column [clrDgField]="''"></clr-dg-column>
  <clr-dg-placeholder>ไม่พบข้อมูล!</clr-dg-placeholder>
  <clr-dg-row *clrDgItems="let m of mappings; let idx = index">
    <wm-his-mappings-directives *clrIfExpanded ngProjectAs="clr-dg-row-detail" [genericId]="m.generic_id"></wm-his-mappings-directives>
    <clr-dg-cell>{{m.generic_id}}</clr-dg-cell>
    <clr-dg-cell>{{m.generic_name}} ({{m.generic_name}})</clr-dg-cell>
    <clr-dg-cell>{{m.base_unit_name}}</clr-dg-cell>
    <clr-dg-cell>
        <clr-icon shape="check" class="is-success" *ngIf="m.his > 0"></clr-icon>
    </clr-dg-cell>
  </clr-dg-row>

  <clr-dg-footer>
    {{pagination.firstItem + 1 | number}} - {{pagination.lastItem + 1 | number}} จาก {{pagination.totalItems | number}} รายการ
    <clr-dg-pagination #pagination [clrDgPageSize]="15"></clr-dg-pagination>
  </clr-dg-footer>
</clr-datagrid>

<wm-loading-modal #modalLoading></wm-loading-modal>