<nav class="breadcrumb">
  <a class="breadcrumb-item" href="javascript://" routerLink="/admin">หน้าหลัก</a>
  <span class="breadcrumb-item active">Map รหัสยา TMT(TPU)</span>
</nav>
<div class="row" style="padding: 5px;">
  <div class="col-md-12">
    <button type="button" class="btn btn-sm btn-success" (click)="save()">
      <clr-icon shape="floppy"></clr-icon>
      บันทึกข้อมูล
    </button>
    <div class="btn-group">
      <button type="button" class="btn btn-sm btn-success" (click)="showUploadModal()">
        <clr-icon shape="upload"></clr-icon>
        นำเข้าไฟล์ Excel
      </button>
      <button type="button" class="btn btn-sm btn-success" (click)="exportExcel()">
        <clr-icon shape="download"></clr-icon>
        ส่งออก Excel
      </button>
    </div>

    <button type="button" class="btn btn-sm btn-primary" disabled>
      <clr-icon shape="window-max"></clr-icon>
      นำเข้าข้อมูล TMT...
    </button>
  </div>
</div>
<clr-datagrid style="height: 80%;">
  <clr-dg-column [clrDgField]="'working_code'" style="width: 180px;">Trade Code</clr-dg-column>
  <clr-dg-column [clrDgField]="'product_name'">ชื่อยา (Trade name)</clr-dg-column>
  <clr-dg-column style="width: 350px;">TMT ID (TPU)</clr-dg-column>
  <!-- <clr-dg-column>ชื่อยา/เวชภัณฑ์</clr-dg-column> -->
  <clr-dg-placeholder>ไม่พบข้อมูล!</clr-dg-placeholder>
  <clr-dg-row *clrDgItems='let m of products'>
    <clr-dg-cell>{{m.working_code}}</clr-dg-cell>
    <clr-dg-cell>{{m.product_name}}</clr-dg-cell>
    <clr-dg-cell>
      <wm-search-product-tmt #searchTMT [tmtId]='m.tmtid' (onSelect)="setSelectedProduct($event,m)" (onChange)="changeSearchProduct($event,m)"
        style="display: inline-block;" class="wm-edit-box-number"></wm-search-product-tmt>
    </clr-dg-cell>
    <!-- <clr-dg-cell>{{m.FSN}}</clr-dg-cell> -->
  </clr-dg-row>
  <clr-dg-footer>
    {{pagination.firstItem + 1 | number}} - {{pagination.lastItem + 1 | number}} จาก {{pagination.totalItems | number}} รายการ
    <clr-dg-pagination #pagination [clrDgPageSize]="15"></clr-dg-pagination>
  </clr-dg-footer>
</clr-datagrid>

<clr-modal [(clrModalOpen)]="openUpload" [clrModalClosable]="false">
  <h3 class="modal-title">อัปโหลดไฟล์</h3>
  <div class="modal-body">
    <p>เลือกไฟล์ที่ต้องการอัปโหลดโดยเลือกไฟล์ .xls, xlsx เท่านั้น</p>
    <form>
      <section class="form-block">
        <div class="form-group row">
          <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12">
            <input class="form-control" disabled type="text" id="txtFile" placeholder="..." [value]="fileName">
          </div>
          <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
            <div>
              <label class="btn btn-sm btn-success btn-link wm-small-btn">
                <input type="file" #file accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,application/vnd.ms-excel"
                  style="display: none;" (change)="fileChangeEvent($event)">
                <clr-icon shape="search"></clr-icon>
              </label>
            </div>
          </div>
        </div>
      </section>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-sm btn-primary" [disabled]="!fileName" (click)="doUpload()">
      อัปโหลดไฟล์
    </button>
    <button type="button" class="btn btn-sm btn-danger" (click)="openUpload = false">
      ปิด/ยกเลิก
    </button>
  </div>
</clr-modal>


<wm-loading-modal #modalLoading></wm-loading-modal>
