<nav class="breadcrumb">
  <a class="breadcrumb-item" href="javascript://" routerLink="/admin">หน้าหลัก</a>
  <span class="breadcrumb-item active">Map รหัสยา TMT(TPU)</span>
</nav>

<clr-datagrid class="order-form">
  <clr-dg-column style="width: 200px;">Working Code</clr-dg-column>
  <clr-dg-column style="width: 500px;">ชื่อยา</clr-dg-column>
  <clr-dg-column style="width: 200px; text-align: center;">TMT ID</clr-dg-column>
  <clr-dg-column></clr-dg-column>
  <clr-dg-placeholder>ไม่พบข้อมูล!</clr-dg-placeholder>
  <clr-dg-row *clrDgItems='let m of product'>
    <clr-dg-cell>{{m.product_id}}</clr-dg-cell>
    <clr-dg-cell>{{m.product_name}}</clr-dg-cell>
    <clr-dg-cell>
      <input type="text" class="wm-edit-box-number" style="background-color: #FFF9C4">
    </clr-dg-cell>
    <clr-dg-cell>
      <button class="btn btn-sm btn-success wm-small-btn" >
        <clr-icon shape="floppy"></clr-icon>
      </button>
    </clr-dg-cell>
  </clr-dg-row>
  <clr-dg-footer>
    {{pagination.firstItem + 1 | number}} - {{pagination.lastItem + 1 | number}} จาก {{pagination.totalItems | number}} รายการ
    <clr-dg-pagination #pagination [clrDgPageSize]="100"></clr-dg-pagination>
  </clr-dg-footer>
</clr-datagrid>