<nav class="breadcrumb">
  <a class="breadcrumb-item" href="javascript://" routerLink="/staff">หน้าหลัก</a>
  <a class="breadcrumb-item" href="javascript://" routerLink="/staff/templates">Template เบิก/โอน</a>
</nav>
<clr-tabs>
  <clr-tab>
    <button clrTabLink (click)="selectTabTmpReq()">
      <clr-icon shape="tools"></clr-icon> Template เบิก/โอน
    </button>
    <clr-tab-content *clrIfActive="tab === 'tmpReq'">
      <div style="margin-top:10px" class="col-lg-3 col-md-3 col-sm-12 col-xs-3">
        <button class="btn btn-sm btn-success" [routerLink]="['/staff/templates/requisition/new']">
          + สร้าง Template เบิก/โอน
        </button>
      </div>
      <div class="card">
        <div class="card-block">
          <div class="row">
            <div class="col-lg-9 col-md-9 col-sm-12 col-xs-9">
              <label for="">ค้นหา</label>
              <input type="text" (keyup)="enterSearch($event)" name="query" [(ngModel)]="query" style="width: 250px;"
                placeholder="ชื่อ template, คลังต้นทาง, คลังปลายทาง">
            </div>
          </div>
        </div>
      </div>
      <clr-datagrid>
        <!-- <clr-dg-column [clrDgField]="'template_id'">เลขที่ Template</clr-dg-column> -->
        <clr-dg-column [clrDgField]="'template_subject'">ชื่อ Template</clr-dg-column>
        <clr-dg-column [clrDgField]="'src_warehouse_name'">คลังต้นทาง</clr-dg-column>
        <clr-dg-column [clrDgField]="'src_warehouse_name'"></clr-dg-column>
        <clr-dg-column [clrDgField]="'dst_warehouse_name'">คลังปลายทาง</clr-dg-column>
        <clr-dg-column>#</clr-dg-column>
        <clr-dg-placeholder>ไม่พบรายการ!</clr-dg-placeholder>
        <clr-dg-row *clrDgItems="let w of templates">
          <wm-product-in-template-detail *clrIfExpanded [templateId]="w.template_id" ngProjectAs="clr-dg-row-detail"></wm-product-in-template-detail>
          <!-- <clr-dg-cell>{{w.template_id}}</clr-dg-cell> -->
          <clr-dg-cell>{{w.template_subject}}</clr-dg-cell>
          <clr-dg-cell>{{w.src_warehouse_name}}</clr-dg-cell>
          <clr-dg-cell>เบิก/โอน</clr-dg-cell>
          <clr-dg-cell>{{w.dst_warehouse_name}}</clr-dg-cell>
          <clr-dg-cell style="text-align: center;">
            <div class="btn-group">
                <button title="พิมพ์รายงาน" class="btn btn-info btn-icon btn-sm wm-small-btn" (click)="print(w.template_id)">
                    <clr-icon shape="printer"></clr-icon>
                  </button>
              <button title="ส่งออก Excel" class="btn btn-primary btn-icon btn-sm wm-small-btn" (click)="export(w.template_id)">
                <clr-icon shape="download"></clr-icon>
              </button>
              <button title="แก้ไข" class="btn btn-success btn-icon btn-sm wm-small-btn" [routerLink]="['/staff/templates/requisition/edit/', w.template_id]">
                <clr-icon shape="note"></clr-icon>
              </button>
              <button title="ยกเลิกรายการ" class="btn btn-danger btn-icon btn-sm wm-small-btn" (click)="removeTemplate(w)">
                <clr-icon shape="trash"></clr-icon>
              </button>
            </div>
          </clr-dg-cell>
        </clr-dg-row>
        <clr-dg-footer>
          {{pageWait.firstItem + 1}} - {{pageWait.lastItem + 1}} of {{pageWait.totalItems}} รายการ
          <clr-dg-pagination #pageWait [clrDgPageSize]="20"></clr-dg-pagination>
        </clr-dg-footer>
      </clr-datagrid>
    </clr-tab-content>

  </clr-tab>
  <clr-tab>
    <button clrTabLink (click)="selectTabTmpIssue()">
      <clr-icon shape="scissors"></clr-icon> Template ตัดจ่าย
    </button>
    <clr-tab-content *clrIfActive="tab === 'tmpIss'">
      <div style="margin-top:10px" class="col-lg-3 col-md-3 col-sm-12 col-xs-3">
        <button class="btn btn-sm btn-success" [routerLink]="['/staff/templates/issue/new']">
          + สร้าง Template ตัดจ่าย
        </button>
      </div>
      <div class="card">
        <div class="card-block">
          <div class="row">

            <div class="col-lg-9 col-md-9 col-sm-12 col-xs-9">
              <label for="">ค้นหา</label>
              <input type="text" (keyup)="enterSearch($event)" name="queryIssue" [(ngModel)]="queryIssue" placeholder="ชื่อ template">
            </div>


          </div>
        </div>
      </div>
      <clr-datagrid [style.height.%]="90">
        <!-- <clr-dg-column [clrDgField]="'template_id'">เลขที่ Template</clr-dg-column> -->
        <clr-dg-column [clrDgField]="'template_subject'">ชื่อ Template</clr-dg-column>
        <!-- <clr-dg-column [clrDgField]="'src_warehouse_name'">คลังที่ใช้เบิก</clr-dg-column>
        <clr-dg-column [clrDgField]="'dst_warehouse_name'">เบิกจากคลัง</clr-dg-column> -->
        <clr-dg-column></clr-dg-column>
        <clr-dg-placeholder>ไม่พบรายการ!</clr-dg-placeholder>
        <clr-dg-row *clrDgItems="let w of templatesIssue">
          <wm-product-in-template-detail [ifIssue]="true" *clrIfExpanded [templateId]="w.template_id" ngProjectAs="clr-dg-row-detail"></wm-product-in-template-detail>
          <clr-dg-cell>{{w.template_subject}}</clr-dg-cell>
          <!-- <clr-dg-cell>{{w.src_warehouse_name}}</clr-dg-cell>
          <clr-dg-cell>{{w.dst_warehouse_name}}</clr-dg-cell> -->
          <clr-dg-cell style="text-align: center;">
            <div class="btn-group">
                <button title="พิมพ์รายงาน" class="btn btn-info btn-icon btn-sm wm-small-btn" (click)="printIssue(w.template_id)">
                    <clr-icon shape="printer"></clr-icon>
                  </button>
              <button title="ส่งออก Excel" class="btn btn-primary btn-icon btn-sm wm-small-btn" (click)="exportIssue(w.template_id)">
                <clr-icon shape="download"></clr-icon>
              </button>
              <button title="แก้ไข" class="btn btn-success btn-icon btn-sm wm-small-btn" [routerLink]="['/staff/templates/issue/edit/', w.template_id]">
                <clr-icon shape="note"></clr-icon>
              </button>
              <button title="ยกเลิกรายการ" class="btn btn-danger btn-icon btn-sm wm-small-btn" (click)="removeTemplateIssue(w)">
                <clr-icon shape="trash"></clr-icon>
              </button>
            </div>
          </clr-dg-cell>
        </clr-dg-row>
        <clr-dg-footer>
          {{pageWait.firstItem + 1}} - {{pageWait.lastItem + 1}} of {{pageWait.totalItems}} รายการ
          <clr-dg-pagination #pageWait [clrDgPageSize]="20"></clr-dg-pagination>
        </clr-dg-footer>
      </clr-datagrid>

    </clr-tab-content>

  </clr-tab>
</clr-tabs>
<wm-loading-modal #modalLoading></wm-loading-modal>
<wm-html-preview #htmlPreview></wm-html-preview>
