<nav class="breadcrumb">
  <a class="breadcrumb-item" href="javascript://" routerLink="/admin">หน้าหลัก</a>
  <a class="breadcrumb-item" href="javascript://" routerLink="/admin/addition">เวชภัณฑ์ถึงจุดเบิก</a>
  <span *ngIf="status==='NEW'" class="breadcrumb-item active">เวชภัณฑ์รอสร้างใบเติม</span>
  <span *ngIf="status==='OPEN'" class="breadcrumb-item active">เวชภัณฑ์รออนุมัติ</span>
  <span *ngIf="status==='APPROVE'" class="breadcrumb-item active">ประวัติการเติม</span>
</nav>

<div class="row">
  <div class="col-md-10">
    <h4 style="margin-bottom: 10px;" class="h4">คลัง: {{dstWarehouseCode}} - {{dstWarehouseName}}</h4>
  </div>
</div>

<clr-datagrid [style.height.%]="75">
  <clr-dg-column [style.width.px]="100" [clrDgField]="'working_code'">Working Code</clr-dg-column>
  <clr-dg-column [clrDgField]="'generic_name'">ชื่อเวชภัณฑ์</clr-dg-column>
  <clr-dg-column [style.width.px]="100">Min Qty.</clr-dg-column>
  <clr-dg-column [style.width.px]="100">Max Qty.</clr-dg-column>
  <clr-dg-column [style.width.px]="100">คงเหลือ</clr-dg-column>
  <clr-dg-column [style.width.px]="100">ยอดแนะนำ</clr-dg-column>
  <clr-dg-column [style.width.px]="100" [clrDgField]="'addition_qty'">จำนวนเติม</clr-dg-column>
  <clr-dg-column [style.width.px]="100">หน่วย</clr-dg-column>
  <clr-dg-placeholder>ไม่พบรายการ</clr-dg-placeholder>
  <clr-dg-row *clrDgItems="let g of generics; let idx = index;"
    [ngClass]="{
    'isSuccess': g.dst_max_qty - g.dst_remain_qty === g.addition_qty
    , 'isWarning': g.dst_max_qty - g.dst_remain_qty !== g.addition_qty
  }">
    <clr-dg-cell>{{g.working_code}}</clr-dg-cell>
    <clr-dg-cell>{{g.generic_name}}</clr-dg-cell>
    <clr-dg-cell style="text-align: right;">{{g.dst_min_qty | number}}</clr-dg-cell>
    <clr-dg-cell style="text-align: right;">{{g.dst_max_qty | number}}</clr-dg-cell>
    <clr-dg-cell style="text-align: right;">{{g.dst_remain_qty | number}}</clr-dg-cell>
    <clr-dg-cell style="text-align: right;">{{g.dst_max_qty - g.dst_remain_qty | number}}</clr-dg-cell>
    <clr-dg-cell style="text-align: right;">{{g.addition_qty | number}}</clr-dg-cell>
    <clr-dg-cell style="text-align: center;">{{g.unit_name}}</clr-dg-cell>
    <wm-addition-product-view [transaction]="g" *clrIfExpanded ngProjectAs="clr-dg-row-detail"></wm-addition-product-view>
  </clr-dg-row>
  <clr-dg-footer>
    {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}} จาก {{pagination.totalItems}} รายการ
    <clr-dg-pagination #pagination [clrDgPageSize]="perPage" [clrDgTotalItems]="generics.length"></clr-dg-pagination>
  </clr-dg-footer>
</clr-datagrid>

<button class="btn btn-sm btn-primary" (click)="clickOpen()" *ngIf="status==='NEW'">
  สร้างใบเติม
</button>
<button class="btn btn-sm btn-primary" (click)="clickApprove()" *ngIf="status==='OPEN'">
  อนุมัติการเติม
</button>
<button class="btn btn-sm btn-danger" (click)="clickCancel()" *ngIf="status!=='APPROVE'">
  ยกเลิกการเติม
</button>
<button class="btn btn-sm btn-danger-outline" routerLink="/admin/addition">
  กลับหน้าหลัก
</button>

<wm-loading-modal #modalLoading></wm-loading-modal>