<clr-modal [(clrModalOpen)]="open" [clrModalClosable]="false" [clrModalSize]="'md'">
  <h3 class="modal-title">เปลี่ยนรหัสผ่าน</h3>
  <div class="modal-body" style="height:200px;">

    <form>
      <section class="form-block">
        <!-- <label>เปลี่ยนรหัสผ่านผู้ใช้งาน</label> -->
        <div class="form-group" >
          <label for="password" class="required">ระบุรหัสผ่านใหม่</label>
          <input type="password" name="password" placeholder="**********" [(ngModel)]="password">
          <input type="password" name="password2" placeholder="**********" [(ngModel)]="password2">
        </div>
        <!-- <div class="form-group"> -->
          <div class="row form-group">
            <div class="col-md-12">
              <label *ngIf="password.length <= 3 && password != ''">**รหัสผ่านต้องมากกว่า 4 ตัวอักษร</label>
            </div>
            <div class="col-md-12">
              <label *ngIf="password != password2 && password2 != null">***รหัสผ่านไม่ตรงกัน</label>
            </div>
          </div>
        <!-- </div> -->
      </section>
    </form>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-success btn-sm" (click)="chanagePassword()" [disabled]="!password || password.length <= 3 || isSaving || password!=password2">
      เปลี่ยนรหัสผ่าน
    </button>
    <button type="button" class="btn btn-danger btn-sm" (click)="closeModal()">
      ปิดหน้าต่าง
    </button>
  </div>
</clr-modal>