<nav class="breadcrumb">
  <a class="breadcrumb-item" href="javascript://" routerLink="/admin">หน้าหลัก</a>
  <span class="breadcrumb-item active">คลังสินค้า</span>
</nav>
<button type="button" class="btn btn-sm btn-success" (click)="addNew()">+ เพิ่มรายการ</button>
คลิกที่
<clr-icon shape="ellipsis-vertical" size="14"></clr-icon> ในช่องรายการ เพื่อดูเมนูใช้งาน
<div class="card">
  <div class="card-block" style="padding: 0px 5px 5px 5px;">
    <div class="row wid99">
      <div class="col-md-6" style="padding-top: 5px;">
        <label for="">ค้นหา</label>
        <input type="text" (keyup)="searcWarehouse($event)" name="query" [(ngModel)]="query" placeholder="รหัสคลังสินค้า, ชื่อคลังสินค้า"
          style="width: 400px;">
      </div>
    </div>
  </div>
</div>
<clr-datagrid [style.height.%]="85">
  <clr-dg-column [style.width.%]="15" [clrDgField]="'short_code'">รหัสคลังสินค้า</clr-dg-column>
  <clr-dg-column [clrDgField]="'warehouse_name'">ชื่อคลังสินค้า</clr-dg-column>
  <clr-dg-column [clrDgField]="'location'">สถานที่</clr-dg-column>
  <clr-dg-column>สถานะ</clr-dg-column>
  <!-- <clr-dg-column [style.width.%]="10">รับเข้าคลัง</clr-dg-column> -->
  <!-- <clr-dg-column [style.width.%]="15">วันที่สร้าง</clr-dg-column> -->
  <clr-dg-placeholder>ไม่พบข้อมูล!</clr-dg-placeholder>
  <clr-dg-row *clrDgItems="let h of warehouses" [clrDgItem]="h">
    <clr-dg-action-overflow>
      <button class="action-item" (click)="showEdit(h)">
        <clr-icon shape="note"></clr-icon> แก้ไขข้อมูล
      </button>
      <button class="action-item" (click)="remove(h)">
        <clr-icon shape="trash"></clr-icon> ลบข้อมูล
      </button>
      <button class="action-item" (click)="goDetail(h.warehouse_id)">
        <clr-icon shape="search"></clr-icon> ดูรายละเอียดสินค้าในคลัง
      </button>
      <button class="action-item" (click)="openLocation(h.warehouse_id)">
        <clr-icon shape="grid-view"></clr-icon> รายละเอียดสถานที่จัดเก็บ (Location)
      </button>
      <button class="action-item" (click)="goPlanning(h.warehouse_id)">
        <clr-icon shape="folder"></clr-icon> กำหนดรายการสินค้าในคลัง
      </button>
    </clr-dg-action-overflow>
    <clr-dg-cell style="text-align: center">{{h.short_code}}</clr-dg-cell>
    <clr-dg-cell>{{h.warehouse_name}}</clr-dg-cell>
    <clr-dg-cell>{{h.location}}</clr-dg-cell>
    <clr-dg-cell style="text-align: center">
      <clr-icon title="ไม่ใช้งาน" shape="close" class="is-error" *ngIf="h.is_actived === 'N'"></clr-icon>
      <clr-icon title="ใช้งาน" shape="check" class="is-success" *ngIf="h.is_actived === 'Y'"></clr-icon>
    </clr-dg-cell>
    <!-- <clr-dg-cell style="text-align: center">
      <clr-icon title="ไท้รับสินค้าเข้าคลัง" shape="close" class="is-error" *ngIf="h.is_receive === 'N'"></clr-icon>
      <clr-icon title="รับเข้าคลัง" shape="check" class="is-success" *ngIf="h.is_receive === 'Y'"></clr-icon>
    </clr-dg-cell> -->
    <!-- <clr-dg-cell style="text-align: center">{{h.created_at | toThaiDate}}</clr-dg-cell> -->
  </clr-dg-row>

  <clr-dg-footer>
    {{warehouses.length | number}} รายการ
    <!-- {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}} of {{pagination.totalItems}} รายการ -->
    <!-- <clr-dg-pagination #pagination [clrDgPageSize]="15"></clr-dg-pagination> -->
  </clr-dg-footer>
</clr-datagrid>

<clr-modal [(clrModalOpen)]="opened" [clrModalClosable]="false">
  <h3 class="modal-title">เพิ่ม/แก้ไข คลังสินค้า</h3>
  <div class="modal-body">

    <form>
      <section class="form-block">
        <label>ข้อมูล คลังสินค้า</label>
        <div class="form-group row">
          <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
            <label for="shortCode" class="required">รหัสคลังสินค้า</label>
          </div>
          <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
            <input class="form-control" [disabled]="isUpdate" type="text" name="shortCode" [(ngModel)]="shortCode" placeholder="">
          </div>
        </div>
        <div class="form-group row">
          <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
            <label class="required" for="warehouseName">ชื่อคลังสินค้า</label>
          </div>
          <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
            <input class="form-control" type="text" name="warehouseName" [(ngModel)]="warehouseName" placeholder="">
          </div>
        </div>
        <div class="form-group row">
          <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
            <label class="required" for="warehouseName">สถานที่</label>
          </div>
          <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
            <input class="form-control" type="text" name="location" [(ngModel)]="location" placeholder="ชั้น...ตึก....,....">
          </div>
        </div>
        <!-- <div class="form-group row">
          <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
            <label for="slType">ประเภทคลัง</label>
          </div>
          <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
            <div class="select form-control">
              <select name="slType" [(ngModel)]="typeId">
                  <option *ngFor="let t of types" [value]="t.type_id">{{t.type_id}} - {{ t.type_name }}</option>
              </select>
            </div>
          </div>
        </div> -->

        <div class="form-group row">
          <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
            <label class="required" for="hospcode">รหัสหน่วยบริการ</label>
          </div>
          <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
            <input class="form-control" type="text" name="hospcode" [(ngModel)]="hospcode" placeholder="....">
          </div>
        </div>

        <div class="form-group row">
          <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
            <label class="required" for="depCode">รหัสแผนก (HIS)</label>
          </div>
          <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
            <input class="form-control" type="text" name="depCode" [(ngModel)]="depCode" placeholder="....">
          </div>
        </div>

        <div class="form-group row">
          <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
            <label for="isEnableWarehouse">สถานะของคลัง</label>
          </div>
          <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
            <clr-checkbox name="isEnableWarehouse" [(ngModel)]="isEnableWarehouse">เปิดใช้งาน</clr-checkbox>
          </div>
        </div>

        <!-- <div class="form-group row">
          <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
            <label for="isEnableWarehouse">รับสินค้าเข้าคลัง</label>
          </div>
          <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
            <clr-checkbox name="isReceiveWarehouse" [(ngModel)]="isReceiveWarehouse">สามารถรับเข้าคลังได้</clr-checkbox>
          </div>
        </div> -->

        <div class="form-group row">
          <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
            <label for="isEnableWarehouse">หน่วยเบิก</label>
          </div>
          <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
            <clr-checkbox name="isUnitIssue" [(ngModel)]="isUnitIssue">กำหนดเป็นหน่วยเบิก</clr-checkbox>
          </div>
        </div>

      </section>
    </form>

  </div>
  <div class="modal-footer">

    <button type="button" class="btn btn-primary" (click)="save()" [disabled]="!warehouseName || !hospcode || !depCode">
      บันทึก
    </button>
    <button type="button" class="btn btn-danger-outline" (click)="opened = false">
      ปิด
    </button>
  </div>
</clr-modal>

<wm-location-modal #locationModal (onSuccess)="successLocation()"></wm-location-modal>

<wm-loading-modal #modalLoading></wm-loading-modal>
