<nav class="breadcrumb">
  <a class="breadcrumb-item" href="javascript://" routerLink="/staff">หน้าหลัก</a>
  <span class="breadcrumb-item active">กำหนดยอดคงเหลือ/MIN-MAX</span>
</nav>
<clr-tabs>
  <clr-tab>
    <button clrTabLink id="link1">กำหนดสินค้าคงเหลือ</button>
    <clr-tab-content id="content1" *clrIfActive>
      <div class="row wid99" style="padding-top: 5px; padding-bottom: 5px;">
        <div class="col-md-9">
          ค้นหา :
          <input id="search_input" name="query" [(ngModel)]="query" (keyup)="enterSearch($event)" style="width: 300px;" type="text"
            placeholder="ค้นหาสินค้า...">
          <!-- <input type="text" class="form-control"> -->
        </div>
        <div class="col-md-3" style="text-align: right;">
          <div class="select">
            <select [(ngModel)]="genericType" name="genericType" (change)="getProducts()">
              <option value="">ทั้งหมด</option>
              <option [value]="t.generic_type_id" *ngFor="let t of genericTypes">{{t.generic_type_name}}</option>
            </select>
          </div>
        </div>
      </div>
      <clr-datagrid [style.height.%]="80">
        <clr-dg-column [clrDgField]="'working_code'" [style.width.px]="150">
          <ng-container *clrDgHideableColumn="{hidden: false}">
            Working Code
          </ng-container>
        </clr-dg-column>
        <clr-dg-column [clrDgField]="'generic_name'">ชื่อเวชภัณฑ์</clr-dg-column>
        <clr-dg-column [style.width.px]="100">
          <ng-container *clrDgHideableColumn="{hidden: true}">
            คงเหลือ(pack)
          </ng-container>
        </clr-dg-column>

        <clr-dg-column [style.width.px]="100">คงเหลือ</clr-dg-column>
        <clr-dg-column [style.width.px]="100">Base Unit</clr-dg-column>
        <clr-dg-column [clrDgField]="'lot_no'" [style.width.px]="150">
          <ng-container *clrDgHideableColumn="{hidden: false}">
            Lot no.
          </ng-container>
        </clr-dg-column>
        <clr-dg-column [style.width.px]="150">
          <ng-container *clrDgHideableColumn="{hidden: false}">
            วันหมดอายุ
          </ng-container>
        </clr-dg-column>
        <clr-dg-column [style.width.px]="50"></clr-dg-column>
        <clr-dg-placeholder>ไม่พบรายการสินค้าในคลัง</clr-dg-placeholder>
        <clr-dg-row *clrDgItems="let p of products; let idx = index;" [clrDgItem]="p">
          <clr-dg-cell>{{p.working_code}}</clr-dg-cell>
          <clr-dg-cell>
            <span class="p4">{{p.generic_name}}</span>
            <br>
            <span class="p7">{{p.product_name}}</span>
          </clr-dg-cell>
          <clr-dg-cell style="text-align: right;">{{p.large_qty | number }} {{p.large_unit}} ({{p.conversion | number}} {{p.base_unit_name}})</clr-dg-cell>
          <clr-dg-cell>
            <input type="text" #qty (keyup)="onChangeQty(p, qty.value)" [value]="p.qty" style="width: 100%; text-align: right; background-color:#FFF9C4"
              placeholder="0" wmNumberWithOutDot>
          </clr-dg-cell>
          <clr-dg-cell style="text-align: center;">{{p.base_unit_name}}</clr-dg-cell>
          <clr-dg-cell>{{p.lot_no}}</clr-dg-cell>
          <clr-dg-cell>{{p.expired_date | expiredDate}}</clr-dg-cell>
          <clr-dg-cell style="text-align: center">
            <button class="btn btn-sm btn-icon btn-success" (click)="saveQty(p)" [disabled]="p.old_qty === p.qty">
              <clr-icon shape="floppy"></clr-icon>
            </button>
          </clr-dg-cell>
        </clr-dg-row>

        <clr-dg-footer>
          {{paginationA.firstItem + 1}} - {{paginationA.lastItem + 1}} จาก {{paginationA.totalItems}} รายการ
          <clr-dg-pagination #paginationA [clrDgPageSize]="100"></clr-dg-pagination>
        </clr-dg-footer>
      </clr-datagrid>
    </clr-tab-content>
  </clr-tab>
  <clr-tab>
    <button clrTabLink (click)="onClickMinMaxTab()">กำหนด MIN-MAX</button>
    <clr-tab-content *clrIfActive>
      <form style="padding: 0px 5px 5px 5px;">
        <section class="form-block" style="margin-bottom: 0px;">
          <div class="form-group row wid99">
            <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
              <label for="fromDate" class="required">ยอดใช้ตั้งแต่วันที่</label>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
              <my-date-picker-th name="fromDate" [options]="pickerOptions" [(ngModel)]="fromDate" required></my-date-picker-th>
            </div>
            <div class="col-lg-1 col-md-1 col-sm-12 col-xs-12">
              <label class="required" for="toDate">ถึงวันที่</label>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
              <my-date-picker-th name="toDate" [options]="pickerOptions" [(ngModel)]="toDate" required></my-date-picker-th>
            </div>
            <div class="col-lg-1 col-md-1 col-sm-12 col-xs-12">
              <button class="btn btn-primary" type="button" (click)="onClickCalculate()" [disabled]="!fromDate || !toDate" style="margin-top: 0px;">
                <clr-icon shape="calculator"></clr-icon> คำนวณ MIN-MAX
              </button>
            </div>
          </div>
          <div class="row wid99" style="padding-top: 5px; padding-bottom: 5px;">
            <div class="col-md-9">
              ค้นหา :
              <input id="search_input" name="query" [(ngModel)]="query" (keyup)="enterSearchMinMax($event)" style="width: 300px;" type="text"
                placeholder="ค้นหาสินค้า...">
            </div>
            <div class="col-md-3" style="text-align: right;">
              <div class="select">
                <select [(ngModel)]="genericType" name="genericType" (change)="searchGenerics()">
                  <option value="">ทั้งหมด</option>
                  <option [value]="t.generic_type_id" *ngFor="let t of genericTypes">{{t.generic_type_name}}</option>
                </select>
              </div>
            </div>
          </div>
        </section>
      </form>
      <clr-datagrid [style.height.%]="75">

        <clr-dg-column [style.width.px]="120" [clrDgField]="'working_code'">
          Working Code
        </clr-dg-column>
        <clr-dg-column [clrDgField]="'generic_name'">
          Generic Name
        </clr-dg-column>
        <clr-dg-column [style.width.px]="120" [clrDgField]="'qty'">
          คงเหลือ <br> (Base Unit)
        </clr-dg-column>
        <clr-dg-column [style.width.px]="100">
          หน่วย
        </clr-dg-column>
        <clr-dg-column [style.width.px]="120" [clrDgField]="'use_total'">
          ยอดการใช้
        </clr-dg-column>
        <clr-dg-column [style.width.px]="120" [clrDgField]="'use_per_day'">
          อัตราการใช้ ต่อวัน
        </clr-dg-column>
        <clr-dg-column [style.width.px]="120" [clrDgField]="'safety_min_day'">
          Safety Stock <br> MIN (วัน)
        </clr-dg-column>
        <clr-dg-column [style.width.px]="120" [clrDgField]="'min_qty'">
          MIN <br> (Base Unit)
        </clr-dg-column>
        <clr-dg-column [style.width.px]="120" [clrDgField]="'safety_max_day'">
          Safety Stock <br> MAX (วัน)
        </clr-dg-column>
        <clr-dg-column [style.width.px]="120" [clrDgField]="'max_qty'">
          MAX <br> (Base Unit)
        </clr-dg-column>
        <clr-dg-placeholder>ไม่พบข้อมูล!</clr-dg-placeholder>
        <clr-dg-row *clrDgItems="let g of generics">
          <clr-dg-cell>
            {{g.working_code}}
          </clr-dg-cell>
          <clr-dg-cell>
            {{g.generic_name}}
          </clr-dg-cell>
          <clr-dg-cell style="text-align: right;">{{g.qty | number}}</clr-dg-cell>
          <clr-dg-cell style="text-align: center;">{{g.unit_name}}</clr-dg-cell>
          <clr-dg-cell style="text-align: right;">{{g.use_total | number}}</clr-dg-cell>
          <clr-dg-cell style="text-align: right;">{{g.use_per_day | number}}</clr-dg-cell>
          <clr-dg-cell style="text-align: right;">
            <input type="text" class="wm-edit-box-number" #saftyMin (keyup)="onChangeSaftyStockMin(saftyMin.value, g)" style="background-color: #FFF9C4"
              [value]="g.safety_min_day" wmNumberWithOutDot>
          </clr-dg-cell>
          <clr-dg-cell style="text-align: right;">
            <input type="text" class="wm-edit-box-number" #min (keyup)="onChangeMinQty(min.value, g)" style="background-color: #FFF9C4"
              [value]="g.min_qty" wmNumberWithOutDot>
          </clr-dg-cell>
          <clr-dg-cell style="text-align: right;">
            <input type="text" class="wm-edit-box-number" #saftyMax (keyup)="onChangeSaftyStockMax(saftyMax.value, g)" style="background-color: #FFF9C4"
              [value]="g.safety_max_day" wmNumberWithOutDot>
          </clr-dg-cell>
          <clr-dg-cell style="text-align: right;">
            <input type="text" class="wm-edit-box-number" #max (keyup)="onChangeMaxQty(max.value, g)" style="background-color: #FFF9C4"
              [value]="g.max_qty" wmNumberWithOutDot>
          </clr-dg-cell>
        </clr-dg-row>

        <clr-dg-footer>
          <button class="btn btn-sm btn-success" (click)="saveMinMax()">
            <clr-icon shape="floppy"></clr-icon> บันทึกข้อมูล
          </button>

          {{paginationA.firstItem + 1}} - {{paginationA.lastItem + 1}} จาก {{paginationA.totalItems}} รายการ
          <clr-dg-pagination #paginationA [clrDgPageSize]="100"></clr-dg-pagination>
        </clr-dg-footer>
      </clr-datagrid>
    </clr-tab-content>
  </clr-tab>
</clr-tabs>


<wm-loading-modal #modalLoading></wm-loading-modal>