<nav class="breadcrumb">
  <a class="breadcrumb-item" href="javascript://" routerLink="/admin">หน้าหลัก</a>
  <span class="breadcrumb-item active">เครื่องมือ (Tools)</span>
  <span class="breadcrumb-item active">ปรับยอดคงเหลือ</span>
</nav>

<div class="alert alert-danger">
  <div class="alert-items">
    <div class="alert-item static">
      <div class="alert-icon-wrapper">
        <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
      </div>
      <span class="alert-text">
        การแก้ไขยอดคงคลัง ควรหยุดการกระทำกับการ รับ เบิก จ่าย เพื่อให้การปรับยอดถูกต้อง ควรตรวจสอบข้อมูลให้ถูกต้องก่อนทำการบันทึกรายการ
      </span>
    </div>
  </div>
</div>
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding:  5px 5px 5px 5px">
  <button class="btn btn-sm btn-success wm-small-btn" routerLink="/admin/adjust-stock/new">
    <clr-icon shape="plus"></clr-icon>บันทึกปรับยอด
  </button>
  <button style="float: right;" class="btn btn-sm btn-primary wm-small-btn" [disabled]="selectAdjust.length == 0"(click)="report()">
    พิมพ์รายงาน
  </button>
</div>
<clr-datagrid (clrDgRefresh)="refresh($event)" [(clrDgSelected)]="selectAdjust" [style.height.%]="75">
  <clr-dg-column>รหัสการปรับยอด</clr-dg-column>
  <clr-dg-column>วันที่ปรับยอด</clr-dg-column>
  <clr-dg-column>เหตุผล</clr-dg-column>
  <clr-dg-column>ปรับโดย</clr-dg-column>

  <clr-dg-row *ngFor="let l of lists" [clrDgItem]="l" [ngClass]="{'isSuccess': l.is_approved === 'Y', 'isError': l.is_cancel === 'Y'}">
    <wm-adjust-stock-detail *clrIfExpanded [data]="l.generics" ngProjectAs="clr-dg-row-detail"></wm-adjust-stock-detail>
    <clr-dg-cell>{{l.adjust_code}}</clr-dg-cell>
    <clr-dg-cell>{{l.adjust_date | toThaiDate}}</clr-dg-cell>
    <clr-dg-cell>{{l.reason}}</clr-dg-cell>
    <clr-dg-cell>{{l.people_name}}</clr-dg-cell>
  </clr-dg-row>
  <clr-dg-footer>
    {{pageWait.firstItem + 1 | number}} - {{pageWait.lastItem + 1 | number}} จาก {{pageWait.totalItems | number}} รายการ
    <clr-dg-pagination #pageWait [(clrDgPage)]="currentPage" [clrDgPageSize]="perPage" [clrDgTotalItems]="totalList"></clr-dg-pagination>
  </clr-dg-footer>
</clr-datagrid>

<wm-loading-modal #modalLoading></wm-loading-modal>
<wm-html-preview #htmlPreview></wm-html-preview>