<nav class="breadcrumb">
  <a class="breadcrumb-item" href="javascript://" routerLink="/admin">หน้าหลัก</a>
  <span class="breadcrumb-item active">บันทึกช่วยจำการยืมยา/เวชภัณฑ์</span>
</nav>

<button class="btn btn-sm btn-success btn-icon" routerLink="/admin/borrow-note/new">
  <clr-icon shape="plus"></clr-icon> เพิ่มรายการ
</button>

<clr-tabs>
  <clr-tab>
    <button clrTabLink id="link1">รายการให้ยืม</button>
    <clr-tab-content id="content1" *clrIfActive="true">
      <clr-datagrid>
        <clr-dg-column>วันที่</clr-dg-column>
        <clr-dg-column>หน่วยงาน</clr-dg-column>
        <clr-dg-column>ชื่อ-สกุล</clr-dg-column>
        <clr-dg-placeholder>ไม่พบรายการ!</clr-dg-placeholder>
        <clr-dg-row *clrDgItems="let note of notes">
          <clr-dg-cell>{{note.id}}</clr-dg-cell>
          <clr-dg-cell>{{note.name}}</clr-dg-cell>
          <clr-dg-cell>{{note.creation | date}}</clr-dg-cell>
        </clr-dg-row>

        <clr-dg-footer>{{notes.length}} users</clr-dg-footer>
      </clr-datagrid>
    </clr-tab-content>
  </clr-tab>
  <clr-tab>
    <button clrTabLink>รายการที่เบิกแล้ว</button>
    <clr-tab-content *clrIfActive>
      <clr-datagrid>
        <clr-dg-column>วันที่</clr-dg-column>
        <clr-dg-column>หน่วยงาน</clr-dg-column>
        <clr-dg-column>ชื่อ-สกุล</clr-dg-column>
        <clr-dg-placeholder>ไม่พบรายการ!</clr-dg-placeholder>
        <clr-dg-row *clrDgItems="let note of notes">
          <clr-dg-cell>{{note.id}}</clr-dg-cell>
          <clr-dg-cell>{{note.name}}</clr-dg-cell>
          <clr-dg-cell>{{note.creation | date}}</clr-dg-cell>
        </clr-dg-row>

        <clr-dg-footer>{{notes.length}} users</clr-dg-footer>
      </clr-datagrid>
    </clr-tab-content>
  </clr-tab>
</clr-tabs>