<div [clrLoading]="loading">
  <clr-datagrid class="grid-order">
    <!-- <clr-dg-column style="width: 100px;">Working Code</clr-dg-column> -->
    <clr-dg-column>ชื่อเวชภัณฑ์ (Trade name)</clr-dg-column>
    <clr-dg-column>Lot No.</clr-dg-column>
    <clr-dg-column>วันหมดอายุ</clr-dg-column>
    <clr-dg-column>คงเหลือ (Package)</clr-dg-column>
    <clr-dg-column>คงเหลือ (Base Unit)</clr-dg-column>
    <clr-dg-column>จำนวนจ่าย (Package)</clr-dg-column>
    <clr-dg-column>รวม (Base Unit)</clr-dg-column>
    <clr-dg-column>รวมหลังจ่าย (Base Unit)</clr-dg-column>
    <clr-dg-placeholder>ไม่พบรายการเวชภัณฑ์สำหรับจ่าย</clr-dg-placeholder>
    <clr-dg-row *ngFor="let i of items; let idx = index;">
      <clr-dg-cell>{{ i.product_name }}</clr-dg-cell>
      <clr-dg-cell>{{ i.lot_no }}</clr-dg-cell>
      <clr-dg-cell>{{ i.expired_date | expiredDate }}</clr-dg-cell>
      <clr-dg-cell style="text-align: right;">{{ i.remain_qty | number }} {{ i.from_unit_name }} ({{i.conversion_qty | number}} {{i.to_unit_name}})</clr-dg-cell>
      <clr-dg-cell style="text-align: right;">
        <span [ngClass]="{'error-message': (i.confirm_qty*i.conversion_qty) > i.remain_small_qty}">
          {{i.remain_qty * i.conversion_qty | number}}</span> {{i.to_unit_name}}
      </clr-dg-cell>
      <clr-dg-cell>
        <input type="text" #qty (keyup)="onChangeQty(qty, idx)" style="width: 100%; text-align: right; background-color:#FFF9C4"
          placeholder="0" wmNumberWithOutDot [value]="i.confirm_qty">
      </clr-dg-cell>
      <clr-dg-cell style="text-align: right;">{{i.confirm_qty*i.conversion_qty || 0 | number}} {{i.to_unit_name}}</clr-dg-cell>
      <clr-dg-cell style="text-align: right;">
        <span [ngClass]="{'error-message': (i.confirm_qty*i.conversion_qty) > i.remain_small_qty}">
          {{i.remain_small_qty - (i.confirm_qty*i.conversion_qty) | number}}</span> {{i.to_unit_name}}
      </clr-dg-cell>
    </clr-dg-row>

    <clr-dg-footer>
      รวมจ่าย (Base Unit)
      <span class="p4">{{currentTotalSmallQty || 0 | number}}</span> {{ _baseUnitName }}
    </clr-dg-footer>
  </clr-datagrid>
</div>

<wm-loading-modal #loadingModal></wm-loading-modal>