<nav class="breadcrumb">
  <a class="breadcrumb-item" href="javascript://" routerLink="/admin">หน้าหลัก</a>
  <span class="breadcrumb-item active">รับสินค้าเข้าคลัง</span>
</nav>
<div class="progress loop" *ngIf="loading">
  <progress></progress>
</div>

<clr-dropdown style="padding-top: 5px; padding-bottom: 5px;">
  <button type="button" class="btn btn-sm btn-success" clrDropdownTrigger>
    + รับสินค้าเข้าคลัง
    <clr-icon shape="caret down"></clr-icon>
  </button>
  <clr-dropdown-menu clrPosition="bottom-left" *clrIfOpen>
    <label class="dropdown-header">ประเภทการรับสินค้า</label>
    <button routerLink="/admin/receives/purchase" type="button" clrDropdownItem>รับจากการซื้อ</button>
    <button type="button" routerLink="/admin/receives/other" clrDropdownItem>รับอื่นๆ (เช่นบริจาค)</button>
  </clr-dropdown-menu>
</clr-dropdown>
<!-- <button style="float: right;" class="btn btn-primary btn-sm btn-icon" (click)="printSelecOption()">
  <clr-icon shape="printer"></clr-icon> พิมพ์ใบนำส่ง
</button> -->
<button style="float: right;" class="btn btn-primary btn-sm btn-icon" (click)="printSelecOption()">
  <clr-icon shape="printer"></clr-icon> พิมพ์ใบนำส่ง (แบบมีเงื่อนไข)
</button>
<clr-tabs>

  <clr-tab>
    <button clrTabLink (click)="getPurchaseList();selectTabPo()">
      <clr-icon shape="alarm-clock" class="has-badge is-solid"></clr-icon> ใบสั่งซื้อที่รอรับเข้าคลัง
      <span class="badge badge-danger">{{ purchases.length | number }}</span>
    </button>
    <clr-tab-content *clrIfActive="tab === 'po'">
      <clr-datagrid class="grid-order" [style.height.%]="85">
        <clr-dg-column style="width: 150px;">เลขที่ใบสั่งซื้อ</clr-dg-column>
        <clr-dg-column style="width: 150px;">วันที่จัดซื้อ</clr-dg-column>
        <clr-dg-column style="width: 150px;">เลขที่สัญญา</clr-dg-column>
        <clr-dg-column>ผู้จำหน่าย</clr-dg-column>
        <clr-dg-column>วิธีการจัดซื้อ</clr-dg-column>
        <clr-dg-column style="width: 100px;">มูลค่าจัดซื้อ (บาท)</clr-dg-column>
        <clr-dg-column style="width: 100px;">มูลค่ารับแล้ว (บาท)</clr-dg-column>
        <clr-dg-column style="width: 120px;">เลือก</clr-dg-column>
        <clr-dg-placeholder>ไม่พบรายการ</clr-dg-placeholder>
        <clr-dg-row *clrDgItems="let purchase of purchases; let idx = index">
          <clr-dg-cell *ngIf="!purchase.purchase_order_book_number">{{purchase.purchase_order_number}}</clr-dg-cell>
          <clr-dg-cell *ngIf="purchase.purchase_order_book_number">{{purchase.purchase_order_book_number}}</clr-dg-cell>
          <clr-dg-cell style="text-align: center;">{{purchase.order_date | toThaiDate }}</clr-dg-cell>
          <clr-dg-cell>{{purchase.contract_id}}</clr-dg-cell>
          <clr-dg-cell>{{purchase.labeler_name}}</clr-dg-cell>
          <clr-dg-cell>{{purchase.purchase_method_name}}</clr-dg-cell>
          <clr-dg-cell style="text-align: right;">{{purchase.purchase_price | number: '1.2-2'}}</clr-dg-cell>
          <clr-dg-cell style="text-align: right;">
            <span style="color: red; font-weight:bold;" *ngIf="purchase.receive_price >= purchase.purchase_price">{{purchase.receive_price || 0 | number: '1.2-2'}}</span>
            <span style="color: green; font-weight:bold;" *ngIf="purchase.receive_price < purchase.purchase_price">{{purchase.receive_price || 0 | number: '1.2-2'}}</span>
          </clr-dg-cell>
          <clr-dg-cell style="text-align: center;">
            <div class="btn-group">
              <button [disabled]="purchase.receive_price >= purchase.purchase_price" class="btn btn-sm btn-success wm-small-btn" [routerLink]="['/admin/receives/purchase']"
                [queryParams]="{purchaseId: purchase.purchase_order_id}">
                รับ
              </button>
              <button class="btn btn-sm btn-danger wm-small-btn" (click)="closePurchase(purchase.purchase_order_id)">
                ปิดรับ
              </button>
            </div>
          </clr-dg-cell>
          <wm-purchase-detail *clrIfExpanded [purchaseId]="purchase.purchase_order_id" ngProjectAs="clr-dg-row-detail"></wm-purchase-detail>
        </clr-dg-row>

        <clr-dg-footer>
          {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}} จาก {{pagination.totalItems}} รายการ
          <clr-dg-pagination #pagination [clrDgPageSize]="perPage"></clr-dg-pagination>
        </clr-dg-footer>
      </clr-datagrid>
    </clr-tab-content>

  </clr-tab>
  <clr-tab>
    <button clrTabLink (click)="clearSelectedApproved();selectTabReceive()">
      <clr-icon shape="tasks"></clr-icon> รับจากการซื้อ
      <span class="badge badge-info" title="ยังไม่ได้อนุมัติอีก {{countApprove | number}} รายการ">{{countApprove | number}}</span>
    </button>
    <clr-tab-content *clrIfActive="tab === 'receive'">
      <div class="card">
        <div class="card-block" style="padding: 0px 5px 5px 5px;">
          <div class="row wid99">
            <div class="col-md-6" style="padding-top: 5px;">
              <label for="">ค้นหา</label>
              <input type="text" (keyup)="searchReceive($event)" name="query" 
                [(ngModel)]="query" placeholder="เลขที่ใบสั่งซื้อ, เลขที่ใบรับ, วันที่รับ เช่น 2561-01-31"
                style="width: 400px;">
            </div>
            <div class="col-md-2 push-md-4" style="padding-top: 5px;">
              <div class="select">
                  <select [(ngModel)]="fillterApprove" (change)="changeFillterApprove()">
                  <option value="all">ทั้งหมด</option>
                  <option value="approve">อนุมัติ</option>
                  <option value="Napprove">ยังไม่ได้อนุมัติ</option>
                </select>
              </div> 
            </div>
            <div class="col-md-2" style="padding-top: 5px;">
              
              <div style="float: right;">
                <clr-dropdown>
                  <button type="button" [disabled]="!selectedApprove.length" class="btn btn-sm btn-primary" clrDropdownTrigger>
                    ดำเนินการ...
                    <clr-icon shape="caret down"></clr-icon>
                  </button>
                  <clr-dropdown-menu clrPosition="bottom-left" *clrIfOpen>
                    <label class="dropdown-header">เมนูใช้งาน ({{selectedApprove.length | number}} รายการที่ถูกเลือก)</label>
                    <button type="button" clrDropdownItem (click)="approveReceiveCheck(1)"><clr-icon class="is-success" shape="check"></clr-icon> อนุมัติใบรับ</button>  
                    <div class="dropdown-divider"></div>
                    <button type="button" clrDropdownItem (click)="printDeliveryNote()"><clr-icon shape="printer"></clr-icon> พิมพ์ใบนำส่ง</button>  
                    <button type="button" clrDropdownItem (click)="printProductRecive()"><clr-icon shape="printer"></clr-icon> พิมพ์รายงานเวชภัณฑ์ที่รับจากการสั่งซื้อ</button>  
                    <button type="button" clrDropdownItem (click)="printReceive()"><clr-icon shape="printer"></clr-icon> พิมพ์ใบตรวจรับ</button>  
                    <button type="button" clrDropdownItem (click)="printreceiveApprovePO()"><clr-icon shape="printer"></clr-icon> พิมพ์ใบตรวจรับตามใบสั่งซื้อ</button>  
                  
                  </clr-dropdown-menu>
                </clr-dropdown>
              </div>
            </div>
          </div>
        </div>
      </div>

      <clr-datagrid (clrDgRefresh)="refresh($event)" style="padding-top: 5px; height: 83%;" [(clrDgSelected)]="selectedApprove">
        <clr-dg-column style="width: 150px;">วันที่</clr-dg-column>
        <clr-dg-column style="width: 180px;">เลขที่รับ</clr-dg-column>
        <clr-dg-column style="width: 180px;">เลขที่ใบสั่งซื้อ</clr-dg-column>
        <clr-dg-column>ผู้จัดจำหน่าย</clr-dg-column>
        <clr-dg-column style="width: 150px;"></clr-dg-column>
        <clr-dg-placeholder>ไม่พบรายการ!</clr-dg-placeholder>
        <clr-dg-row *ngFor="let w of waitings" [clrDgItem]="w" [ngClass]="{'approve-status': w.approve_id, 'isError': w.is_cancel === 'Y'}">
          <wm-product-detail *clrIfExpanded [receiveId]="w.receive_id" ngProjectAs="clr-dg-row-detail"></wm-product-detail>
          <clr-dg-cell style="text-align: center;">{{w.receive_date | toThaiDate}}</clr-dg-cell>
          <clr-dg-cell>{{w.receive_code || w.receive_tmp_code}}</clr-dg-cell>
          <clr-dg-cell *ngIf="!w.purchase_order_book_number">{{w.purchase_order_number}}</clr-dg-cell>
          <clr-dg-cell *ngIf="w.purchase_order_book_number">{{w.purchase_order_book_number}}</clr-dg-cell>
          <clr-dg-cell>{{w.labeler_name}}</clr-dg-cell>
          <clr-dg-cell style="text-align: center;">
            <div class="btn-group btn-success">
              <button [disabled]="w.is_cancel === 'Y'" title="แก้ไขข้อมูล/อนุมัติ/เอกสาร" class="btn btn-primary btn-icon btn-sm wm-small-btn"
                [routerLink]="['/admin/receives/edit']" [queryParams]="{receiveId: w.receive_id}">
                <clr-icon shape="note"></clr-icon>
              </button>
              <button [disabled]="w.is_cancel === 'Y' || w.approve_id" title="ยกเลิกใบรับ" class="btn btn-danger btn-icon btn-sm wm-small-btn"
                (click)="removeReceive(w)">
                <clr-icon shape="trash"></clr-icon>
              </button>
            </div>
          </clr-dg-cell>
        </clr-dg-row>

        <clr-dg-footer>
          คำชี้แจง:
          <span class="badge badge-danger">ยกเลิก</span>
          <span class="badge badge-white">รออนุมัติ</span>
          <span class="badge badge-success">อนุมัติแล้ว</span>
          | {{pageWait.firstItem + 1 | number}} - {{pageWait.lastItem + 1 | number}} จาก {{pageWait.totalItems | number}} รายการ
          <clr-dg-pagination #pageWait [(clrDgPage)]="currentPage" [clrDgPageSize]="perPage" [clrDgTotalItems]="totalReceive"></clr-dg-pagination>
        </clr-dg-footer>
      </clr-datagrid>
    </clr-tab-content>
  </clr-tab>

  <clr-tab>
    <button clrTabLink (click)="selectTabReceiveOther()">
      <clr-icon shape="truck"></clr-icon> รับอื่นๆ (เช่นบริจาค)
      <span class="badge badge-info" title="ยังไม่ได้อนุมัติอีก {{countApproveOther | number}} รายการ">{{countApproveOther | number}}</span>
    </button>
    <clr-tab-content *clrIfActive="tab === 'receiveOther'">
      <div class="card">
        <div class="card-block" style="padding: 0px 5px 5px 5px;">
          <div class="row wid99">
            <div class="col-md-6" style="padding-top: 5px;">
              <label for="">ค้นหา</label>
              <input type="text" (keyup)="searchReceiveOther($event)" 
                name="queryOther" [(ngModel)]="queryOther" placeholder="ชื่อผู้บริจาค, เลขที่ใบรับ..."
                style="width: 250px;">
              <!-- <button class="btn btn-sm btn-primary" (click)="doSearchWaiting()">ค้นหา</button> -->
            </div>
            <div class="col-md-2 push-md-4" style="padding-top: 5px;">
                <div class="select">
                    <select [(ngModel)]="fillterApprove" (change)="changeFillterApprove()">
                    <option value="all">ทั้งหมด</option>
                    <option value="approve">อนุมัติ</option>
                    <option value="Napprove">ยังไม่ได้อนุมัติ</option>
                  </select>
                </div> 
              </div>
            <div class="col-md-2" style="padding-top: 5px;">
              <div style="float: right;">
                <clr-dropdown>
                  <button type="button" [disabled]="!selectedOtherApprove.length" class="btn btn-sm btn-primary" clrDropdownTrigger>
                    ดำเนินการ...
                    <clr-icon shape="caret down"></clr-icon>
                  </button>
                  <clr-dropdown-menu clrPosition="bottom-left" *clrIfOpen>
                    <label class="dropdown-header">เมนูใช้งาน ({{selectedOtherApprove.length | number}} รายการที่ถูกเลือก)</label>
                    <button type="button" clrDropdownItem (click)="approveReceiveCheck(2)">
                      <clr-icon class="is-success" shape="check"></clr-icon> อนุมัติใบรับ
                    </button>
                    <div class="dropdown-divider"></div>
                    <button type="button" clrDropdownItem (click)="printDeliveryNoteOther()">
                      <clr-icon shape="printer"></clr-icon> พิมพ์ใบนำส่ง
                    </button>
                  </clr-dropdown-menu>
                </clr-dropdown>
              </div>
            </div>
          </div>
        </div>
      </div>
      <clr-datagrid (clrDgRefresh)="refreshOther($event)" [(clrDgSelected)]="selectedOtherApprove" [style.height.%]="83">
        <clr-dg-column style="width: 150px;">วันที่</clr-dg-column>
        <clr-dg-column style="width: 180px;">เลขที่รับ</clr-dg-column>
        <clr-dg-column style="width: 180px;">ประเภทการรับ</clr-dg-column>
        <clr-dg-column>ผู้จัดจำหน่าย/ผู้บริจาค</clr-dg-column>
        <!-- <clr-dg-column>จำนวนรายการ</clr-dg-column> -->
        <clr-dg-column style="width: 150px;">มูลค่า (บาท)</clr-dg-column>
        <clr-dg-column style="width: 150px;"></clr-dg-column>
        <clr-dg-placeholder>ไม่พบรายการ!</clr-dg-placeholder>
        <clr-dg-row *ngFor="let w of others" [clrDgItem]="w" [ngClass]="{'approve-status': w.approve_id, 'isError': w.is_cancel === 'Y'}">
          <wm-product-receive-other-detail [receiveOtherId]="w.receive_other_id" *clrIfExpanded ngProjectAs="clr-dg-row-detail"></wm-product-receive-other-detail>
          <clr-dg-cell style="text-align: center;">{{w.receive_date | toThaiDate}}</clr-dg-cell>
          <clr-dg-cell>{{w.receive_code}}</clr-dg-cell>
          <clr-dg-cell>{{w.receive_type_name}}</clr-dg-cell>
          <clr-dg-cell>{{w.donator_name}}</clr-dg-cell>
          <!-- <clr-dg-cell style="text-align: right;">{{w.total | number}}</clr-dg-cell> -->
          <clr-dg-cell style="text-align: right;">{{w.cost | number: '1.2-2'}}</clr-dg-cell>
          <clr-dg-cell style="text-align: center;">
            <div class="btn-group btn-success">
              <button title="แก้ไขข้อมูล/อนุมัติ" class="btn btn-primary btn-icon btn-sm wm-small-btn" [disabled]="w.approve_id || w.is_cancel==='Y'"
                [routerLink]="['/admin/receives/other/edit']" [queryParams]="{receiveOtherId: w.receive_other_id}">
                <clr-icon shape="note"></clr-icon>
              </button>
              <button title="ยกเลิกใบรับ" class="btn btn-danger btn-icon btn-sm wm-small-btn" (click)="removeReceiveOther(w)" [disabled]="loading || w.approve_id || w.is_cancel==='Y'">
                <clr-icon shape="trash"></clr-icon>
              </button>
            </div>
          </clr-dg-cell>
        </clr-dg-row>

        <clr-dg-footer>
          {{pageOther.firstItem + 1 | number}} - {{pageOther.lastItem + 1 | number}} จาก {{pageOther.totalItems | number}} รายการ
          <clr-dg-pagination #pageOther [(clrDgPage)]="currentPage" [clrDgPageSize]="perPage" [clrDgTotalItems]="totalReceiveOther"></clr-dg-pagination>
        </clr-dg-footer>
      </clr-datagrid>
    </clr-tab-content>
  </clr-tab>
  <clr-tab>
    <button clrTabLink>
      <clr-icon shape="truck"></clr-icon> รับจากการซื้อ ใกล้วันหมดอายุ</button>
    <clr-tab-content *clrIfActive>
      <!-- <div class="card">
        <div class="card-block" style="padding: 0px 5px 5px 5px;">
          <div class="row wid99">
            <div class="col-md-6" style="padding-top: 5px;">
              <label for="">ค้นหา</label>
              <input type="text" (keyup)="searchWaiting($event)" name="query" [(ngModel)]="query" placeholder="เลขที่ใบสั่งซื้อ, เลขที่ใบรับ..."
                style="width: 250px;"> -->
              <!-- <button class="btn btn-sm btn-primary" (click)="doSearchWaiting()">ค้นหา</button> -->
            <!-- </div> -->
            <!-- <div class="col-md-6" style="padding-top: 5px;">
                <div class="btn-group" style="float: right;">
                  <button style="float: right;" class="btn btn-success btn-sm btn-icon" [disabled]="!selectedApprove.length" (click)="saveApprove()">
                    <clr-icon shape="note"></clr-icon> อนุมัติใบรับ
                  </button>
                  <button style="float: right;" class="btn btn-primary btn-sm btn-icon" (click)="printDeliveryNote()">
                    <clr-icon shape="printer"></clr-icon> พิมพ์ใบนำส่ง
                  </button>
                </div>
              </div> -->
          <!-- </div>
        </div>
      </div> -->

      <clr-datagrid style="padding-top: 5px;" [style.height.%]="83">
        <clr-dg-column style="width: 150px;">วันที่</clr-dg-column>
        <clr-dg-column style="width: 180px;">เลขที่รับ</clr-dg-column>
        <clr-dg-column style="width: 180px;">เลขที่ใบสั่งซื้อ</clr-dg-column>
        <clr-dg-column>ผู้จัดจำหน่าย/ผู้บริจาค</clr-dg-column>
        <clr-dg-column>หมายเหตุ</clr-dg-column>
        <!-- <clr-dg-column style="width: 150px;"></clr-dg-column> -->
        <clr-dg-placeholder>ไม่พบรายการ!</clr-dg-placeholder>
        <clr-dg-row *clrDgItems="let w of expired" [clrDgItem]="w" [ngClass]="{'approve-status': w.approve_id}">
          <wm-product-detail *clrIfExpanded [receiveId]="w.receive_id" ngProjectAs="clr-dg-row-detail"></wm-product-detail>
          <clr-dg-cell style="text-align: center;">{{w.receive_date | toThaiDate}}</clr-dg-cell>
          <clr-dg-cell>{{w.receive_code || w.receive_tmp_code}}</clr-dg-cell>
          <clr-dg-cell>{{w.purchase_order_number}}</clr-dg-cell>
          <clr-dg-cell>{{w.labeler_name}}</clr-dg-cell>
          <clr-dg-cell>{{w.comment}}</clr-dg-cell>
          <!-- <clr-dg-cell style="text-align: center;">
              <div class="btn-group btn-success">
                <button title="แก้ไขข้อมูล/อนุมัติ" class="btn btn-primary btn-icon btn-sm wm-small-btn"  [routerLink]="['/admin/receives/edit']"
                  [queryParams]="{receiveId: w.receive_id}">
                  <clr-icon shape="note"></clr-icon>
                </button>
                <button title="ยกเลิกใบรับ" class="btn btn-danger btn-icon btn-sm wm-small-btn" (click)="removeReceive(w)" [disabled]="w.approve_id">
                  <clr-icon shape="trash"></clr-icon>
                </button>
              </div>
            </clr-dg-cell> -->
        </clr-dg-row>

        <clr-dg-footer>
          {{pagePurchaseExpired.firstItem + 1 | number}} - {{pagePurchaseExpired.lastItem + 1 | number}} จาก {{pagePurchaseExpired.totalItems
          | number}} รายการ
          <clr-dg-pagination #pagePurchaseExpired [clrDgPageSize]="perPage"></clr-dg-pagination>
        </clr-dg-footer>
      </clr-datagrid>
    </clr-tab-content>
  </clr-tab>
  <clr-tab>
    <button clrTabLink>
      <clr-icon shape="truck"></clr-icon> รับอื่นๆ ใกล้วันหมดอายุ</button>
    <clr-tab-content *clrIfActive>
      <!-- <div class="card">
        <div class="card-block" style="padding: 0px 5px 5px 5px;"> -->
          <!-- <div class="row wid99"> -->
            <!-- <div class="col-md-6" style="padding-top: 5px;">
              <label for="">ค้นหา</label>
              <input type="text" (keyup)="searchReceiveOther($event)" name="queryOtherExpire" [(ngModel)]="queryOtherExpire" placeholder="ชื่อผู้บริจาค, เลขที่ใบรับ..."
                style="width: 250px;"> -->
              <!-- <button class="btn btn-sm btn-primary" (click)="doSearchWaiting()">ค้นหา</button> -->
            <!-- </div> -->
            <!-- <div class="col-md-6" style="padding-top: 5px;">
                <button style="float: right;" class="btn btn-success btn-sm btn-icon" [disabled]="!selectedOtherApprove.length" (click)="saveApproveOther()">
                  <clr-icon shape="note"></clr-icon> อนุมัติใบรับ
                </button>
              </div> -->
          <!-- </div>
        </div>
      </div> -->
      <clr-datagrid [style.height.%]="83">
        <clr-dg-column style="width: 150px;">วันที่</clr-dg-column>
        <clr-dg-column style="width: 180px;">เลขที่รับ</clr-dg-column>
        <clr-dg-column style="width: 180px;">ประเภทการรับ</clr-dg-column>
        <clr-dg-column>ผู้จัดจำหน่าย/ผู้บริจาค</clr-dg-column>
        <clr-dg-column>จำนวนรายการ</clr-dg-column>
        <clr-dg-column>มูลค่า (บาท)</clr-dg-column>
        <clr-dg-column>หมายเหตุ</clr-dg-column>
        <!-- <clr-dg-column style="width: 150px;"></clr-dg-column> -->
        <clr-dg-placeholder>ไม่พบรายการ!</clr-dg-placeholder>
        <clr-dg-row *clrDgItems="let w of otherExpired" [clrDgItem]="w" [ngClass]="{'approve-status': w.approve_id}">
          <wm-product-receive-other-detail [receiveOtherId]="w.receive_other_id" *clrIfExpanded ngProjectAs="clr-dg-row-detail"></wm-product-receive-other-detail>
          <clr-dg-cell style="text-align: center;">{{w.receive_date | toThaiDate}}</clr-dg-cell>
          <clr-dg-cell>{{w.receive_code}}</clr-dg-cell>
          <clr-dg-cell>{{w.receive_type_name}}</clr-dg-cell>
          <clr-dg-cell>{{w.donator_name}}</clr-dg-cell>
          <clr-dg-cell style="text-align: right;">{{w.total | number}}</clr-dg-cell>
          <clr-dg-cell style="text-align: right;">{{w.cost | number: '1.2-2'}}</clr-dg-cell>
          <clr-dg-cell>{{w.comment_expired}}</clr-dg-cell>
        </clr-dg-row>

        <clr-dg-footer>
          {{pageOtherCancel.firstItem + 1 | number}} - {{pageOtherCancel.lastItem + 1 | number}} จาก {{pageOtherCancel.totalItems |
          number}} รายการ
          <clr-dg-pagination #pageOtherCancel [clrDgPageSize]="perPage"></clr-dg-pagination>
        </clr-dg-footer>
      </clr-datagrid>
    </clr-tab-content>
  </clr-tab>
</clr-tabs>

<clr-modal [(clrModalOpen)]="openModal" [clrModalSize]="'lg'" [clrModalClosable]="false">
  <h3 class="modal-title">พิมพ์ใบนำส่ง</h3>
  <div class="modal-body" style="height: 350px;">
    <div class="row">
      <div class="col-md-2">
        <label>เลือกโดย</label>
      </div>
      <!-- <div class="select col-md-4">
        <select name="warehouseId" [(ngModel)]="showOption">
          <option value="3" selected>ทั้งหมด</option>
          <option value="1" selected>รับจากการซื้อ</option>
          <option value="2">รับอื่นๆ (เช่นบริจาค)</option>
        </select>
      </div> -->
    </div>
    <div class="card">
      <div class="card-block">
        <div class="row" style="margin:.5em">
          <div class="col-md-12">
            <label for="">เลขที่ใบรับ</label>
          </div>
          <div class="col-md-12">
            <label class="col-md-1 required" for="">ระหว่าง</label>
            <input class="col-md-3 " type="text" name="query" [(ngModel)]="sID" placeholder="RV-61-000000">
            <label class="col-md-1 required" for="">ถึง</label>
            <input class="col-md-3" type="text" name="query2" [(ngModel)]="eID" placeholder="RV-61-999999">
            <button type="button" class="btn btn-success btn-md" (click)="printDeliveryId(showOption,sID,eID)" [disabled]="!sID || !eID">พิมพ์</button>
          </div>
        </div>
      </div>
      <div class="card-block" *ngIf='showOption === 1'>
        <div class="row" style="margin:.5em">
          <div class="col-md-12">
            <label for="">เลขที่ใบสั่งซื้อ</label>
          </div>
          <div class="col-md-12">
            <label class="col-md-1 required" for="">ระหว่าง</label>
            <input class="col-md-3 " type="text" name="query" [(ngModel)]="sIDpo" placeholder="PO-61-000000">
            <label class="col-md-1 required" for="">ถึง</label>
            <input class="col-md-3" type="text" name="query2" [(ngModel)]="eIDpo" placeholder="PO-61-999999">
            <button type="button" class="btn btn-success btn-md" (click)="printPoId(showOption,sIDpo,eIDpo)" [disabled]="!sIDpo || !eIDpo">พิมพ์</button>
          </div>
        </div>
      </div>
      <div class="card-block">
        <div class="form-group">
          <div class="row" style="margin:.5em">
            <div class="col-md-12">
              <label for="">วันที่</label>
            </div>
            <label class="required col-md-1" for="">ตั้งแต่</label>
            <div class="col-md-4" style="display:inline-block;vertical-align: middle;">
              <my-date-picker-th name="mydate" [options]="myDatePickerOptions" [(ngModel)]="sDate" required></my-date-picker-th>
            </div>
            <label class=" col-md-1 required" for="">ถึง</label>
            <div class="col-md-4" style="display:inline-block;vertical-align: middle;">
              <my-date-picker-th name="mydate" [options]="myDatePickerOptions" [(ngModel)]="eDate" required></my-date-picker-th>
            </div>
            <button type="button" class="col-md-1 btn btn-success btn-lg" (click)="printDeliveryDate(showOption,sDate,eDate)" [disabled]="!sDate || !eDate">พิมพ์</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-danger btn-lg" (click)="openModal = false">ปิด</button>
  </div>
</clr-modal>
<clr-modal [(clrModalOpen)]="openModalConfirm" [clrModalStaticBackdrop]="true" [clrModalSize]="'md'" [clrModalClosable]="false">
  <h3 class="modal-title">สิทธิ์การอนุมัติ{{titel}}</h3>
  <div class="modal-body" style="height:150px">

    <form>
      <section class="form-block">
        <div class="form-group">
          <label for="aForm_1" class="required">User Name</label>
          <input autocomplete="nope" type="text" id="username" name="username" [(ngModel)]="username">
        </div>
        <div class="form-group">
          <label for="aForm_1" class="required"> password</label>
          <input autocomplete="new-password" type="password" id="password" name="password" [(ngModel)]="password" (keyup.enter)="checkApprove(username,password)">
        </div>
      </section>
    </form>
  </div>
  <div class="modal-footer" style="padding-top: 0px;">
    <button type="button" class="btn btn-md btn-primary" [disabled]="!username || !password" (click)="checkApprove(username,password)">บันทึก</button>
    <button type="button" class="btn btn-md btn-danger-outline" (click)="close()">ปิด</button>
  </div>
</clr-modal>
<wm-modal-receive-approve #modalApprove (onSuccess)="approveSuccess($event)"></wm-modal-receive-approve>
<wm-modal-receive-approve-other #modalApproveOther (onSuccess)="approveSuccessOther($event)"></wm-modal-receive-approve-other>

<wm-html-preview #htmlPreview></wm-html-preview>
<wm-loading-modal #modalLoading></wm-loading-modal>